[2020-05-21 11:18] davidmartos96 opened #1 "CookieJar not initialized when creating OAuth2 session"
I'm testing out the package, awesome work. I found a small issue though. It looks like if the first interaction with the sdk is the `createOAuth2Session` method, the `cookieJar` in the client never gets initialized so it fails with a null error when calling the following:
[code]

[2020-05-21 11:30] eldadfux commented on #1
@bartektartanus i think we should move the cookiejat init from here:
https://github.com/appwrite/sdk-for-flutter/blob/760ff1a632949c41e6f1a9aadbacb4b6a2f93ce1/lib/client.dart#L88

to the constructor, what do you think?

[2020-05-23 20:26] eldadfux commented on #1
Created a fix on the SDK-generator. Tested it with both Android and iOS and all requests seems to work fine, even it the first request is for creating a new OAuth session.

Would probably release this early tomorrow morning IL time as v0.2.2.

[2020-05-23 20:42] davidmartos96 commented on #1
@eldadfux Great, thank you!

[2020-05-24 03:04] mmcdon20 opened #2 "Port # seems to be ignored"
I initialize the client endpoint to localhost with a given port.
[code]
But then when I make any request using the client I get the following error.
[code]
The port number in the error message changes every time a request is made.
Is there some other way of specifying the port number?

[2020-05-24 03:41] eldadfux commented on #2
Can you check if your emulator can access the Appwrite console from your emulator browser? http://localhost:8089/console

[2020-05-24 04:37] mmcdon20 commented on #2
![Android Emulator - Pixel_2_API_28_5554 5_23_2020 11_18_28 PM](https://user-images.githubusercontent.com/5104543/82745589-d92e0000-9d4b-11ea-9c62-9bc2a976e73e.png)
No, but you pointed me in the right direction. I changed 'http://localhost:8089/v1' to 'http://10.0.2.2:8089/v1'. And it now appears to be working.

[2020-05-24 04:37] #2 closed

[2020-05-24 06:34] eldadfux commented on #1
SDK v0.2.2 is out 🍾

[2020-05-24 06:34] #1 closed

[2020-05-24 21:08] dimityrivanov opened #3 "Creating document result in an error"
Using this piece of code to add document it result in an error also into the /console I am unable to find button to add document to collection.
What am I doing wrong ?
[code]

[2020-05-25 03:08] eldadfux commented on #3
How does your collection rules look like?
What exact error are you getting?

Your payload looks like a payload for creating a new collection, but you are trying to create a new document, is this intentional?

The examples in this page can also help you: https://appwrite.io/docs/rules

[2020-05-25 08:23] dimityrivanov commented on #3
I just created a simple collection it was created without rules so I just left it that way, when I select the collection in the console I wasn't able to find a button to add a document so I decided to try from the plugin the output from the above code is: `flutter: DioError [DioErrorType.RESPONSE]: Http status error [404]`.

[2020-05-25 10:16] eldadfux commented on #3
There's an open bug we already fixed for upcoming version (0.6.2) where document creation is only available to registered user 😒

[2020-05-25 10:49] dimityrivanov commented on #3
😒

[2020-05-25 10:49] #3 closed

[2020-08-02 14:19] patricktslee opened #4 "Error to create the File using storage.createFile"
HI All,

I have the method to create the file by the below code.   However I got the error after run the method.

**Code for CreateFile**
[code]

**Error message**
[code]

Anyone can help to find what happen.

Regards

Patrick

[2020-08-02 18:17] eldadfux commented on #4
Seems like you don't initialise the storage service variable:
[code]

Take a look at the Appwrite playground for Flutter, you have a working file upload example their:
https://github.com/appwrite/playground-for-flutter/blob/master/lib/main.dart

[2020-08-03 14:03] patricktslee commented on #4
Thanks.  I initialise the storage service variable.   The above error is removed.  But I got another error.

And I tried to follow Appwrite playground for Flutter.  However I got the same error as well.  Do I need to grant the right on my Appwrite server?

[code]

Thanks

Patrick Lee

[2020-08-03 18:38] eldadfux commented on #4
You should register your Flutter app in your project dashboard platforms list. Follow the steps in the getting started tutorial: https://appwrite.io/docs/getting-started-for-flutter

The end result should look similar to this:
![image](https://user-images.githubusercontent.com/1297371/89215621-a3ba5400-d5d1-11ea-8b4d-89dffc3ec1c1.png)

[2020-08-04 12:30] patricktslee commented on #4
Actually I have registered the app in my project dashboard platform.  I can create the user and get the user ID.

But don't know why the http status error.

[code]

![Screenshot 2020-08-04 at 8 21 02 PM](https://user-images.githubusercontent.com/8926578/89293708-ec851200-d690-11ea-8dca-e7a5b7fa0347.png)

[2020-08-04 15:32] eldadfux commented on #4
Please note that this are 2 different issues. The 403 error is because of the missing platform which now seem like you solved. The 401 is because your app user has to be logged in to upload a file. You can find a login example in the same playground repository.

[2020-08-05 07:22] Blykam opened #5 "Flutter for Web Compatibility"
Is it possible to make this SDK compatible with Flutter for Web? Would be a great addition to just mobile apps

[2020-08-05 07:50] eldadfux commented on #5
We do want to achieve this and would love any community help on this one. Seems like the biggest issue right now in order to get this done is to add web support for the [flutter web auth plugin](https://github.com/LinusU/flutter_web_auth) which we use for OAuth session creation.

[2020-08-05 08:03] Blykam commented on #5
Okay yeah. I read your past comments on that one now. I don't think that this flutter plugin is going to be updated for web support  anytime soon.
Also I'm not a very good developer, but I learned that you can easily check the current platform in Dart/Flutter. Maybe it is possible to skip the Web Auth Plugin for Flutter Web entirely. The plugin owner mentioned a kind of a workaround for Web Auth w

[2020-08-05 08:09] eldadfux commented on #5
@Blykam please share your references mentioning how we can skip the plugin for the web platform?

[2020-08-05 08:31] Blykam commented on #5
@eldadfux It's possible to check the current OS and Platform by using the dart:io Platform class. It doesn't include Web though, but  it's possible to use flutter/foundation "kIsWeb" like explained here: how-can-i-detect-if-my-flutter-app-is-running-in-the-web.
It's just an easy if-statement which determines which part of the code is executed

[2020-08-05 12:27] patricktslee commented on #4
It works.  I added the createSession after account create on my Appwrite server.  Then I can upload the image to the server.

[code]

[2020-08-05 12:27] #4 closed

[2020-08-05 12:27] patricktslee commented on #4
Thanks your help

[2020-08-06 14:59] patricktslee opened #6 "Collection not found after create the document on the Collection "Userdata" database"
Hi All,

I tried to create the document on database.  I created Collection "Userdata" and get the collectionID.  After run the below createUser function.  I got the error Collection not found.  But I have provided the collectionID.  What happen on the AppWrite server or on my code?

[code]

Error throw on below

[code]
![Screenshot 2020-08-06 at 10 54 03 PM](https://user-images.githubusercontent.c

[2020-08-06 19:32] eldadfux commented on #6
@patricktslee check your collection permissions:

![image](https://user-images.githubusercontent.com/1297371/89574400-bed8ce00-d834-11ea-8a55-b3b75dc0388c.png)

[2020-08-07 14:58] patricktslee commented on #6
Hi Eldadfux,

I added * for both Read and Write Access.  But I got another error "flutter: {"message":"Unauthorized action","code":401,"version":"0.6.2"}".  Actually, my logic is create user, upload the image and create database document.  Create user and upload the image are successfully.  However create database document fail.  What happen again on server or my code?

[code]

![Screenshot 2020-0

[2020-08-07 15:18] eldadfux commented on #6
@patricktslee please share your request data, and specifically the document data you're trying to post to the database API.

[2020-08-08 03:06] patricktslee commented on #6
@eldadfux

Here is my code to createdoucment.  It is simple data {"username": username}.

[code]
And here is my rule on server.  The data type of username is text.

![Screenshot 2020-08-08 at 11 03 52 AM](https://user-images.githubusercontent.com/8926578/89701162-e8921200-d966-11ea-9343-85ef22bc865e.png)

The error message
[code]
Thanks

Patrick Lee

[2020-08-08 06:05] eldadfux commented on #6
@patricktslee just add read and write permission when sending the document, '*' for wildcard access or 'user:[user_id]' should be fine.

![image](https://user-images.githubusercontent.com/1297371/89703760-597cfe00-d956-11ea-924d-d60d8b9af34e.png)

[2020-08-08 06:37] patricktslee commented on #6
@eldadfux It works.  Thanks your help.

[2020-08-08 06:37] #6 closed

[2020-08-08 10:38] eldadfux commented on #6
🥳 your'e welcome, feel free to join us on https://appwrite.io/discord in case you need more help or advice

[2020-09-02 12:40] lohanidamodar commented on #5
@eldadfux seems the major problem is with the [cookie_jar](https://pub.dev/packages/cookie_jar) and [dio_cookie_manager](https://pub.dev/packages/dio_cookie_manager) that is being used to manage cookies, both doesn't have support for flutter web.

Two other problems are [flutter web auth](https://pub.dev/packages/flutter_web_auth) and [package info](https://pub.dev/packages/package_info) plugins,

[2020-09-02 12:50] eldadfux commented on #5
I think that we might be able to migrate to the default http client. I’ll try to see if we can drop the package info dependency or only use it for non web platforms. The flutter web Auth package is only used for OAuth support

[2020-09-02 12:54] lohanidamodar commented on #5
@eldadfux upon more research looks like cookies is handled automatically in web, so we can simply skip cookie related things as wells if it's web. So I am doing more testing

[2020-09-03 00:23] lohanidamodar commented on #5
## [Update]
[https://github.com/appwrite/sdk-generator/pull/53](https://github.com/appwrite/sdk-generator/pull/53) should add support for except for oAuth on flutter web.

[2020-09-03 14:07] eldadfux commented on #5
# Update 2

I have merged @lohanidamodar PRs and published a new prerelease of the Appwrite SDK for Flutter (0.3.0-dev.1) with web support!!

We still need to add OAuth login support for web, but it seems like this can be achievable. @dlohani and I will work on this in the next few days.

**Any help with beta testing of the new version will be appreciated**

![image](https://user-images.githubuser

[2020-09-04 18:11] PsychTechApS opened #7 "getFilePreview() not returning a Future"
In Flutter I am working on a storage list page.

To preview the file/icon i am about to use getFilePreview(). How come this is not returning a future? It is just returning a String. I would expect it to return Future<Response> like fx. getFile() ?

This is also the case for: getFileDownload() and getFileView()

[2020-09-04 21:07] eldadfux commented on #7
@lohanidamodar what do you think about this? It relates to the credentials headers issue we talked about for the image widget.

[2020-09-05 00:57] lohanidamodar commented on #7
@eldadfux this is not related to the credentials headers issues.
@PsychTechApS the functions that you are talking about `getFilePreview()`, `getFileDownload()` and `getFileView()` are just constructing the URL for the required function, so they return the String (url) instead of future. Using the url, in preview you can display the image preview.

However, there is still one issue, if you file doe

[2020-09-05 05:55] eldadfux commented on #7
@lohanidamodar both issues have similarities because of the read permission problem, we need to find a similar solution to all.

Would it be better to keep returning a URL and expose another method to get Appwrite credentials headers in order to have the flexibility of showing this resources using other widgets (like the image widget) with an HTTP call made by native or any other HTTP client, or s

[2020-09-05 06:21] lohanidamodar commented on #7
@eldadfux If we do return the file content instead of url+credentials, we need ways to handle downloads, manage cache implemented in appwrite SDK, but I believe instead of making assumptions and implementing details, we should simply return the Url and some method for credentials, so everyone have flexibility to use their own way of downloads, caching..

[2020-09-05 08:05] PsychTechApS commented on #7
@lohanidamodar So these functions just construct a url-string without calling the api and that is why there is no latency? I see.

In the dart doc comments (///) and the api documents, would it be possible to write the result type in the text? And when it is a json result, the different var types?

I understand, that right now all files need to be public accesible to be downloaded this way, which

[2020-09-05 09:07] lohanidamodar commented on #7
Yes, I believe the names you are suggesting seems appropriate. However if we want allow devs to be able to manage the downloading and caching themselves, instead of appwrite returning content, it's best to keep urls, and provide access to authentication tokens/cookies required.
@PsychTechApS Also, I believe with appwrite 0.7 we will have proper response objects documented as well.
cc @eldadfux

[2020-09-05 11:29] eldadfux commented on #7
The 0.7 release will allow us to generate the response object docs, they will probably be available shortly after.

[2020-09-07 16:29] PsychTechApS commented on #5
Hello. You asked for beta testing of flutter web on dev channel, and I just tried to run my flutter test application (working on phone emulator) and account.createSession makes an exception: TypeErrorImpl (Expected a value of type 'DefaultHttpClientAdapter', but got one of type 'BrowserHttpClientAdapter'). In call method it goes via selfsigned=true.

[2020-09-07 22:05] lohanidamodar commented on #5
@PsychTechApS please confirm this only occurs when you have .setSelfSigned() called on your appwrite Client.

[2020-09-08 11:00] PsychTechApS commented on #5
@lohanidamodar I just checked. Same error occurs with selfSigned = false...

[2020-09-08 11:05] lohanidamodar commented on #5
@PsychTechApS can you please share the screenshot of the Log exactly so that it's easier to pinpoint the issue. Thanks!

[2020-09-08 13:05] eldadfux commented on #5
A new version with all latest updates is out: https://pub.dev/packages/appwrite/versions/0.3.0-dev.2

@PsychTechApS please check if you still get any errors.

[2020-09-08 16:54] AlimFreight commented on #5
I had the same error but after update to latest version everything work properly.

[2020-09-09 07:57] PsychTechApS commented on #5
I still get error, now it is "NoSuchMethodError: The getter 'uri' was called on null". (same result selfsigned or not).

[2020-09-09 08:04] lohanidamodar commented on #5
@PsychTechApS Can you try by clearing cache, make sure pub is using the version of appwrite as you have used, sometimes it takes from cache and cause issues.

[2020-09-09 08:47] PsychTechApS commented on #5
I did run "flutter clean" and also "flutter pub cache repair" and is still having the same error.

[2020-09-09 09:56] lohanidamodar commented on #5
@PsychTechApS If possible the code you are running and the screenshot of the error, would be very helpful for us to reproduce. Thank you

[2020-09-09 10:22] PsychTechApS commented on #5
I will try to make a new project just to test web with the dev channel from the beginning to see if it is specific to my current project or not. If same error occour I can share this project.
This is a screenshot of the error stack:
![billede](https://user-images.githubusercontent.com/39657431/92586743-f94fe380-f296-11ea-863a-06f4e69e6c4b.png)

[2020-09-09 10:47] lohanidamodar commented on #5
@PsychTechApS I am not sure if this is related to AppWrite. But yes if the bug exists, anything that would help us reproduce, as what steps trigger this error, would be a great help. Thank you.

[2020-09-09 13:14] lohanidamodar commented on #5
@PsychTechApS refering to this (https://discordapp.com/channels/564160730845151244/634237163986485249/751091287171661935) message on discord by @AlimFreight I believe your two errors are related but not related to Appwrite. Please confirm

[2020-09-09 13:32] PsychTechApS commented on #5
@lohanidamodar I can not say if it is the same as @AlimFreight's error. I will ask him. I only know that my code works on phone emulator and not on web. But if it is only my code that breaks, just ignore my post 👍

[2020-09-09 18:26] PsychTechApS commented on #5
@lohanidamodar - my last contribution on this subject at this time (after talking to @AlimFreight):

1. I had not to use appwrite_dev, as I thought we were supposed to do to have web compatibility, but instead: appwrite:  (on ^0.3.0-dev.2.)

2. the invalid type did not disappear, but now it is because my exception returns null (e=null):
catch (e) {} print(e.message);

From my understanding @AlimFr

[2020-09-10 02:52] lohanidamodar commented on #5
@PsychTechApS No worries. Thank you for your contribution. However if you do want to continue with your project and want help, feel free to reach out any time.

[2020-09-27 05:38] eldadfux opened #8 "Add Windows support for the Appwrite Flutter SDK"
Most features of the Appwrite Flutter SDK should already work with Windows apps out of the box. One specific area that still lacks support is our OAuth login. For us to enable OAuth login we actually need to add Windows support on the Web auth plugin https://github.com/LinusU/flutter_web_auth we use as a dependency.

The Web Auth library already support web auth login for Android, iOS, and MacOS.

[2020-09-27 05:39] eldadfux opened #9 "Add Linux support for the Appwrite Flutter SDK"
Most features of the Appwrite Flutter SDK should already work with Linux apps out of the box. One specific area that still lacks support is our OAuth login. For us to enable OAuth login we actually need to add Linux support on the Web auth plugin https://github.com/LinusU/flutter_web_auth we use as a dependency.

The Web Auth library already support web auth login for Android, iOS, and MacOS. Once

[2020-10-01 17:20] arshita129 commented on #9
Hey! I want to try to solve this. But being a beginner, can u please suggest from where can I start?

[2020-10-08 17:15] eldadfux commented on #9
I suggest you try and contact the maintainers or submit a PR at: https://github.com/LinusU/flutter_web_auth

[2020-12-31 15:26] nitishk72 opened #11 "Dart Code Format"
By default the dart formatter user the indentation of  2 space.
I am working with flutter for a long time and new focus on much of these.

Today when tried to contribute to this project I found that the complete code gets modified because of the indentation.

Here modify means, it modifies the indentation of every line.
Now the problem is if I send a pull request with that many changes then it wou

[2021-01-02 09:58] lohanidamodar commented on #11
@eldadfux  I believe best approach to solve this would be to run the dart formatter after generating sdk before pushing changes to github.

[2021-01-02 11:31] eldadfux commented on #11
@lohanidamodar I agree this is the best approach on traditional circumstances. Adding this phase to the SDK-Generator will add huge complexity and coupling tp platform specific tools. I think we should just changed the indentation in the Flutter templates.

[2021-01-03 07:20] lohanidamodar commented on #11
@eldadfux Are we accepting PR directly on SDKs?
1. Any features, improvements on SDKs, should go to SDK generator
2. Also, this is a code formatting, even if we accept this PR now, next time we generate new SDK this will not work.

Either, these changes will have to be propagated to SDK generator, however I believe that's not necessary, as we discussed above, we can simply run dart formatter every

[2021-01-03 07:33] eldadfux commented on #11
@lohanidamodar you are correct. We are not accepting any PRs directly to the SDKs repos. Any change should be submitted to the SDK generator, as stated on the repo, its a read-only repository.

Using the dart formatter on any creation of the SDK will add a lot of complexity to the automated process. It will be much more effective to just fix the indentation in the generator templates for Flutter.

[2021-01-03 13:21] nitishk72 commented on #11
@eldadfux
Do I need to make the same PL to this repo https://github.com/appwrite/sdk-generator ?

[2021-01-03 13:34] eldadfux commented on #11
@nitishk72 your assumption is correct, but it should be pretty simple once you set a dev environment and understand how to generate an example SDK. A few back and forward iterations should get you the desired result.

[2021-01-03 13:50] nitishk72 commented on #11
Probably it's difficult for any general developer to contribute, as long as they aren't in deep love with PHP.
I am a PHP developer for a long time and probably I can do this but I think it's a little lengthy process. I know after 2-3 commit this process will become easier for me.

But again it's not a very good choice because appwrite supports a variety of languages or frameworks.
All the develop

[2021-01-03 14:50] eldadfux commented on #11
@nitishk72 like anything in life you have advantages and disadvantages. We have been working this way in last year, and ~80% of our SDKs have been written by non-PHP coders. Most of the work on the SDK generator is handling with a language agnostic templates syntax (TWIG) and not actually writing PHP code.

Appwrite is for everyone. Our vision is to build a platform & language agnostic platform bu

[2021-01-05 10:19] klnfreedom commented on #5
Hello everyone, I have some problem with create a document on appwrite (flutter web), when I start the process for creation, I have an error: DioError [DioErrorType.RESPONSE]: Http status error [401].
But I am authorized.
Thats a part of code of creation document:

Future<bool> uploadDataToAppwrite(GasStationFromTransnet data) async {
    var qwert = jsonEncode(data.toJson());
    try {
      Resp

[2021-01-05 10:26] klnfreedom commented on #5
And I can read a document from appwrite, but I can't create a document to appwrite

[2021-01-05 17:46] AlimFreight commented on #5
Yes, I have the same issue with Flutter Web app . It's somehow drop authentication right after initialization. Or something else going on  but here is the cod.

`Performing hot restart...`
`Waiting for connection from debug service on Chrome...`
`Restarted application in 364ms.`
`{"$id":"5ff4a121a409a","type":1,"expire":1641403553} `  **_------------- createSession_**
`DioError [DioErrorType.RESPO

[2021-01-05 17:57] eldadfux commented on #5
@AlimFreight can you share the code itself? are you waiting for the create session call to complete before calling `account.get`?

[2021-01-05 18:55] AlimFreight commented on #5
Client client;
Database database;
Account account;
bool _isLoggedIn;

class ActivateClient extends GetxController {
  bool get isLoggedIn => _isLoggedIn;

  static initClient() async {
    _isLoggedIn = false;

    client = Client();

    client
        .setEndpoint(AppConstants.endPoint)
        .setProject(AppConstants.projectId);

    account = Account(client);
    await responseAppWrite();

[2021-01-06 13:47] lohanidamodar commented on #5
@AlimFreight @klnfreedom Thank you for trying out appwrite in Flutter Web and helping us debug issues. However, I would like your feedback on following matters.

Can you please clone [Playground for Flutter](https://github.com/appwrite/playground-for-flutter), setup the correct project and collectionId and test it, I am able to login and create document in the playground using the latest Flutter b

[2021-01-06 17:41] klnfreedom commented on #5
@lohanidamodar I share you a part of code which is included the error of Dio.Exception 401
https://github.com/klnfreedom/test_for_appwrite_flutter_web.git
On android and ios platform aren't working (Insecure HTTP is not allowed by platform: http://104.225.142.211/v1/database/collections/5ff451fd73abf/documents)

[2021-01-06 17:43] AlimFreight commented on #5
@lohanidamodar  Thank you for you quick support.
First off all **Flutter doctor** output.

[✓] Flutter (Channel beta, 1.25.0-8.1.pre, on macOS 11.1 20C69 darwin-x64, locale en)
    • Flutter version 1.25.0-8.1.pre at /Users/ruslan/Development/flutter
    • Framework revision 8f89f6505b (3 weeks ago), 2020-12-15 15:07:52 -0800
    • Engine revision 92ae191c17
    • Dart version 2.12.0 (build 2.12.0

[2021-01-06 18:46] eldadfux commented on #5
The insecure HTTP error can be resolved by using the `setSelfSigned` method here:
https://github.com/klnfreedom/test_for_appwrite_flutter_web/blob/e18b1eef6331affd1022e3e197357cf89e6acca1/lib/app/client/client_init.dart#L12

[code]

[2021-01-06 21:20] AlimFreight commented on #5
It's already set on in [Playground for Flutter](https://github.com/appwrite/playground-for-flutter)

[2021-01-06 21:47] eldadfux commented on #5
@AlimFreight I have a feeling we're mixing multiple issues in this thread. Is your problem only on Flutter Web integration?

[2021-01-06 21:55] AlimFreight commented on #5
Yes , but as @lohanidamodar  asked I did check [Playground for Flutter](https://github.com/appwrite/playground-for-flutter) for all platforms on environment.

[2021-01-06 21:57] eldadfux commented on #5
After creating an account session on the browser can you see if a cookie was set?

[2021-01-06 22:07] AlimFreight commented on #5
No cookies wasn't set
![image](https://user-images.githubusercontent.com/54543689/103824324-4bccc100-5039-11eb-82fc-0daf3b05e9af.png)

[2021-01-06 22:41] eldadfux commented on #5
@AlimFreight I seem to be able to persist a session using a cookie on the playground:
![image](https://user-images.githubusercontent.com/1297371/103827064-ce2ca380-5080-11eb-8a2e-7346764d90a5.png)

The cookie is only visible when I view the devtools cookies on the Appwrite console. The cookie name should be: `a_session_[PROJECT-ID]`, can you see it? when you try to fetch the user account do you se

[2021-01-06 22:59] AlimFreight commented on #5
![image](https://user-images.githubusercontent.com/54543689/103829467-8554fa80-5040-11eb-896c-3ba6ca3c27ba.png)

[2021-01-06 23:13] eldadfux commented on #5
@AlimFreight I doubled check the issue with both 0.6.2 and 0.7.0 and both seems to work for me, but I do have an idea. Can you switch your Appwrite endpoint from the IP address to localhost or a domain name and see if it works?

[2021-01-06 23:22] AlimFreight commented on #5
@eldadfux  I can't switch to localhost because it's VPS, but I can move my domain name to that host. Another idea to invite you to my AppWrite instance then you can check it by yourself.

[2021-01-06 23:24] eldadfux commented on #5
I can confirm that when I switch from localhost to my private ip, i can reproduce the issue.

[2021-01-06 23:27] AlimFreight commented on #5
Ok , then I definitely have to switch to domain name for now on.

[2021-01-06 23:45] AlimFreight commented on #5
After I've changed to domain name I got this
[code]

[2021-01-07 02:02] lohanidamodar commented on #5
@eldadfux @AlimFreight @klnfreedom
Unable to decide the problem. I am able to run perfectly when I switch to my local instance, even https://github.com/klnfreedom/test_for_appwrite_flutter_web.git project fine on localhost. However using the project details provided in the repository, I can reproduce the error. Even after I set the domain name locally, I can reproduce the error as @AlimFreight  sa

[2021-01-07 07:55] lohanidamodar commented on #5
@AlimFreight @klnfreedom
we believe the issue is with different domain cookie policy as the app is running in localhost and the server is different. That is why it worked on our localhost. However, with chrome, it only blocks cross-site cookies in insecure mode. From the information above I can see that both of you are using `http` and not `https`.

For us, switching the `https` did the trick, we

[2021-01-07 15:28] AlimFreight commented on #5
@lohanidamodar
Thank you , after I did that everything is working. And I changed web platform to https in AppWrite console as well.

[2021-01-08 05:07] lohanidamodar commented on #5
Awesome @AlimFreight Thank you fro your response and support.

[2021-01-19 13:35] JulianBissekkou opened #13 "4xx call throws DioError which exposes implementation details"
The lib uses dio internally which forces consumers to catch the error if an unsuccessful call throws a `DioError`.
We currently use this helper method to map unsuccessful calls to own exception/other exception types.

[code]

I just want to point out that this is not an issue atm, but it might be a nice thing to improve.
Feel free to close this issue 👍

[2021-01-19 13:38] eldadfux commented on #13
@lohanidamodar let me know if you see any reason why not to add an "Appwrite" Exception to the Flutter SDK. Personally I don't see any, but I guess it would be nice to add this feature to all supported SDKs

[2021-01-19 13:40] JulianBissekkou commented on #13
Can you maybe explain what this exactly means? 🤔

[2021-01-19 13:44] eldadfux commented on #13
@JulianBissekkou I was thinking we can detect the Appwrite-related DIO error at the Appwrite SDK itself and then throw an instance of an Appwrite custom exception for easier detection of the different exception. Did I miss something?

[2021-01-20 01:23] lohanidamodar commented on #13
@eldadfux Yes I believe it's best to introduce `Appwrite` exception to all our SDKs including Flutter.

[2021-01-20 06:32] JulianBissekkou commented on #13
Perfect!

@lohanidamodar
Sounds good.

Maybe it makes sense to introduce different exceptions extending the `appwrite` exception. For example rate limits can throw a specific exception. 🤔

[2021-01-20 06:47] lohanidamodar commented on #13
@JulianBissekkou yes love the idea, it should definitely be multiple exceptions based on a base exception.

[2021-01-21 08:31] JulianBissekkou commented on #13
Great!
Side question: Why did you choose dio for network calls? I see many flutter devs that use dio for really basic http stuff and I always think that the default http client can do all of that as well 🤔

What feature were you missing?

[2021-01-21 08:37] eldadfux commented on #13
@JulianBissekkou The first versions of the SDK were contributed by a few of the community members. I don't remember exactly what was missing at the time. If native HTTP client can do multipart/form request and handle cookies we might be able to drop it and reduce the dependency tree.

[2021-01-21 08:52] JulianBissekkou commented on #13
Multipart will work, cookies probably not. But dio is fine, I was just curious ☺️

[2021-02-04 09:23] nilsreichardt opened #14 "Use package_info_plus instead of package_info"
## Description
I saw on pub.dev that the `appwrite` package depends on `package_info`. I recommend to switch to `package_info_plus`, because of the platform support:

| Platform | package_info | package_info_plus |
|---------|----------------|--------------------|
| Android | ✅   | ✅  |
| iOS | ✅   | ✅  |
| Web | ❌   | ✅  |
| Linux | ❌   | ✅  |
| macOS | ❌   | ✅  |
| Windows | ❌   | ✅  |

The migr

[2021-02-04 17:33] #14 closed

[2021-02-24 10:56] lohanidamodar commented on #13
@JulianBissekkou We really appreciate your feedback. And here we have been working with throwing custom exceptions from our SDKs and Have a RFC and started working.
 - [RFC](https://github.com/appwrite/rfc/blob/main/013-custom-exception-on-all-sdks.md)
 - [Work on Flutter SDK](https://github.com/appwrite/sdk-generator/pull/113)
Please provide us with your valuable comments, feedback on whether or

[2021-02-24 13:07] JulianBissekkou commented on #13
I quickly checked out the flutter SDK branch and dropped a few comments. 👍

What about specific error codes? For example, I want to display a message if the account is blocked.
The AppWrite server will provide a 401 or 403 (not sure) but the information that the account is blocked is not included.

An additional code would be helpful in this case.
I am not sure if this is already implemented, but

[2021-02-24 13:09] eldadfux commented on #13
The extra info would be provided as part of the exception message.

[2021-03-05 05:09] eldadfux commented on #11
This fix has already been pushed to the SDK-Generator and is available on v0.3 of our Dart SDK and will be ready for next version of our Flutter dev channel :).

[2021-03-05 05:11] #11 closed

[2021-03-10 22:04] eldadfux commented on #5
Flutter web support should be pretty good now. If any problems are found, please open a new issue.

[2021-03-10 22:04] #5 closed

[2021-03-10 22:07] eldadfux commented on #7
Appwrite Flutter SDK v0.4.0-dev.2 now returns a Future for `getFilePreview()`

https://pub.dev/packages/appwrite/versions/0.4.0-dev.2

@PsychTechApS please feel free to test it out and share any feedback you might have.

[2021-03-26 02:56] ryanhlewis opened #16 "Unnecessary Overhead: the init() method"
Been looking through the SDK to write a client-dotnet twig, and I cannot wrap my head around the Flutter init() method. It is clearly to get cookies and set them within the CookieJar, and it turns itself off after it is bool initialized.

I do not see the purpose of calling this in EVERY CALL() method.

There is no reason to. The only cookie necessary is a Login Cookie, and I solved this problem i

[2021-03-26 21:25] eldadfux commented on #13
A new Appwrite exception has been added to v0.4.0 which is now out of dev channel

[2021-03-26 21:25] #13 closed

[2021-03-26 21:32] eldadfux commented on #16
I think this is legacy leftover from another behavior we used to have. Not sure exactly, but probably something to do with the OAuth2 integration. @lohanidamodar any reason why we should not move the first init call to the client constructor?

[2021-03-26 21:33] eldadfux commented on #7
This fix is now part of v0.4.0 which is out of dev channel

[2021-03-26 21:33] #7 closed

[2021-04-07 10:13] kutear opened #17 "version solving failed"
this library depended on the third libraries with lower version, it's hard to solved version  conflict.

and depneded so many library, compared with firebase(https://pub.dev/packages/firebase), it just depend on `http` libaray

[2021-04-09 01:41] jr1221 commented on #17
I have the same problem, where I require ffi 1 or above.  I believe a migration to null safe dependencies would increase the versions enough.

[2021-04-09 06:04] lohanidamodar commented on #17
@kutear until we publish the null safe version of Flutter SDK, if you are using with Flutter 2.0, please use this
[code]

[2021-04-09 06:04] #17 closed

[2021-05-05 15:10] patricktslee opened #18 "Unhandled Exception: type 'String' is not a subtype of type 'int' of 'index'"
I have question on my flutter App to login Appwrite.  I tried to server down the Appwrite and login the system.  It is supposed to exception and print the error message.  However it didn’t work on my below code and get the below error log

Login code

[code]
**Error log**

[code]

I use appwrite: 0.5.0-dev.1

[2021-05-09 10:40] lohanidamodar commented on #18
@patricktslee Thank you for your support and issue. We have already merged the PR that resolves this issue
https://github.com/appwrite/sdk-generator/pull/164

[2021-05-09 10:40] #18 closed

[2021-05-17 07:31] TorstenDittmann commented on #16
@lohanidamodar is this issue still relevant?

[2021-05-17 07:32] #16 closed

[2021-05-20 21:38] luis-cruzt commented on #9
Looks like there's an open PR at: https://github.com/LinusU/flutter_web_auth/pull/74

[2021-05-23 15:37] helloabook opened #19 "401 error and missing scope when run playground-for-flutter"
[code]
Code is from:  https://github.com/appwrite/playground-for-flutter. And I comment out the addHeader line:
[code]
BTW, sdk for node works.

[2021-05-30 08:53] dj3364 commented on #9
Yes23

[2021-06-09 06:44] lohanidamodar commented on #19
Please describe the scenario you are getting the error? What are you trying to do? Are you logged in? and Error possibly displayed in the browsers console looks like you are running on web?

[2021-06-10 11:21] JulianBissekkou opened #23 "Null pointer in `createOAuth2Session`"
When calling `createOAuth2Session` in the Flutter SDK, the method crashes if `success` or `failure` is null which is allowed since both params are optional.

Here is the line and a potential fix:

[code]

I would love to provide a PR that fixes this issue, but i am not sure if i can just fork the repo. Don't you generate the dart code?

@TorstenDittmann

[2021-06-10 11:24] JulianBissekkou commented on #23
As an addition I would also propose to add more type information to the method signature:

[code]

[2021-06-16 15:30] JulianBissekkou opened #24 "Potential crash in `Client.call`"
We are using some new app write APIs that are not yet documented. In this case, we are using the `Client` to access the Rest Endpoints.
This is obviously more of a "power" user thing, but I thought it might be good to mention it.

The `Client.call` will crash if the provided `params` or `headers` are empty.

[code]

The problem is that `const {}` will create unmodifiable maps which will result in

[2021-06-18 05:02] lohanidamodar commented on #19
Closing as there was no further response. Feel free to reopen if you have further issues.

[2021-06-18 05:02] #19 closed

[2021-06-18 05:09] lohanidamodar commented on #23
@JulianBissekkou Thank you for reporting the issue, we have worked the fix and is waiting release
https://github.com/appwrite/sdk-generator/pull/220

[2021-06-18 05:13] lohanidamodar commented on #24
@JulianBissekkou is it the only line that causes crash?
https://github.com/appwrite/sdk-generator/pull/220
on this I have also added isEmpty check for params before trying to remove null params

[2021-06-18 07:48] JulianBissekkou commented on #24
The same could happen with `headers` so it makes sense to catch this as well. (Basically any map that is initialized with `const {}`)

Another edge case is if someone does something like this: `client.call(headers: Map.unmodifiable({"stuff": "stuff"}))`.
Here the user passes an unmodifiable map into the `call` method. Your implementation would still crash here.
But instead of checking if it's empt

[2021-06-23 05:06] kutear opened #25 "FormatException: Invalid HTTP header field value: "中文字符/1.0.0 (Linux; U; Android 9; samsung SM-G950F)" (at character 1)"
ref: https://github.com/dart-lang/http/issues/227

`user-agent` containing a non English character is invalid like '中文字符(app_name)'.

[2021-06-25 10:36] kutear commented on #25
I submit my fixed at https://github.com/appwrite/sdk-generator/pull/221

[2021-07-02 10:51] TorstenDittmann commented on #25
@kutear is it fixed for you? 🙂

[2021-07-02 11:40] kutear commented on #25
Yes, my submit had be merged. but still not publish a release version.  this issue can be closed when a new flutter package be published.

[2021-07-11 03:41] rlee1990 opened #27 "Realtime User Auth"
Using the branch here:
[code]

I am trying to listen to auth states but I do not get any events at all.
Here is the code:

[code]

[2021-07-11 09:21] lohanidamodar commented on #27
@rlee1990 hey can you please show the code in your `Appwrite` singleton? If the realtime connection was successful, you should have at least got the first message. Something might be wrong with connection.
Thank you

[2021-07-11 09:23] lohanidamodar commented on #25
Hey @kutear please confirm that version 0.7.0 of the SDK fixes this for you. Thank you
https://pub.dev/packages/appwrite

[2021-07-11 13:54] rlee1990 commented on #27
@lohanidamodar here is my code:
[code]

[2021-07-11 13:57] rlee1990 commented on #27
Also I have tried on android and ios.

Flutter Doctor:
[code]

[2021-07-12 06:13] lohanidamodar commented on #27
@rlee1990 hey can you also share you debug console outputs, seems like there might be some errors.

[2021-07-12 06:18] rlee1990 commented on #27
@lohanidamodar That's the thing the debug console does not output anything at all

[2021-07-12 10:26] TorstenDittmann commented on #27
The realtime endpoint is set when the `setEndpoint` method is called.

In your code the endpoint is set in the `Client` constructor 👍🏻

[2021-07-12 18:16] kutear commented on #25
yes, this bug had be fixed at `0.7.0` and this issues should be closed.

[2021-07-19 18:32] kutear opened #28 "Can't get sessionId by OAuth"
When login with createOAuth2Session(...), the `Response` is null. and there is no way to get sessionId.

[code]
only `getSessions` can get all sessions, but i don't know which session is my current session.

[2021-07-19 18:46] TorstenDittmann commented on #28
You can use [getSession('current')](https://appwrite.io/docs/client/account#accountGetSession) to get the current session 👍🏻

[2021-07-20 03:36] kutear commented on #28
I know i can get session by current sessionId, but my question is i can't get current sessionId.

[2021-07-20 07:14] TorstenDittmann commented on #28
You can just pass 'current' to the method and it will return your current session 👍

[2021-07-20 08:43] kutear commented on #28
Oh, I got it.  thanks!

[2021-07-20 16:41] #27 closed

[2021-07-23 12:59] #23 closed

[2021-07-29 10:04] TorstenDittmann commented on #24
This should be fixed with the release of Flutter SDK version 0.7.1 👍🏻

[2021-08-02 04:59] JulianBissekkou commented on #24
Good job! Checked out the fix and it works.

[2021-08-02 04:59] #24 closed

[2021-08-05 04:56] kutear commented on #28
it's not work for me. when i pass `current` to `getSession(...)`, it return all sessions, just same as `getSessions()` .

![Screenshot from 2021-08-05 12-54-54_mosaic](https://user-images.githubusercontent.com/8605389/128293069-d3c94f0b-d207-4b1b-8516-743bb1cc0c24.png)

[2021-08-06 21:55] dj3364 opened #29 "Yes"
__Originally posted by @Trinityyi in https://github.com/30-seconds/30-seconds-of-code/pull/1812__

[2021-08-06 21:56] dj3364 commented on #29
Yes

[2021-08-06 22:12] #29 closed

[2021-08-08 07:42] lohanidamodar commented on #28
@kutear I am unable to reproduce the issue, I am not sure, what is causing this for you.
I order to verify, I suggest you run the code on Flutter web and see the actual request in the browser console's network Tab and Please get back to us if there again you get all the sessions.

[2021-08-08 07:46] lohanidamodar commented on #28
@kutear can you share which version of Appwrite Server you are using?

[2021-08-09 03:52] kutear commented on #28
server: v:0.8.0.146
client: sdk-for-flutter 0.7.1

[2021-08-11 09:32] TorstenDittmann opened #30 "[BUG] Converting anonymous account with OAuth2"
When initializing an OAuth2 session, the cookie that would indicates migrating an anonymous account to a full account gets lost in the WebView.

I think one of the possible solution at the moment (that will also work for other clients including Android (kotlin), iOS (swift), as I think Android will have similar problem at the moment)
1. in the createOAuth2Session endpoint we will receive the cooki

[2021-08-20 16:29] TorstenDittmann commented on #28
Are you able to upgrade Appwrite and the Flutter SDK to the latest version? This might fix it.

More informations about upgrading: https://appwrite.io/docs/upgrade

[2021-09-09 10:08] lohanidamodar commented on #28
@kutear closing this as there was no further response. If you still have this issue, please feel free to reopen the issue.

[2021-09-09 10:08] #28 closed

[2021-09-21 09:34] kutear commented on #25
GOD!  this fix had been rollback. now this issus can be reproduced at `1.0.2`
https://github.com/appwrite/sdk-for-flutter/blob/master/lib/src/client_io.dart#L155

[2021-09-21 09:48] TorstenDittmann commented on #25
@kutear Oh, that is not good news. Sorry for the inconvenience 🙏🏻

We have completely re-written the Flutter SDK for `1.0.0`, so this was probably overlooked. We will fix it as soon as @lohanidamodar is available.

[2021-09-22 10:45] lohanidamodar commented on #25
@kutear Hey sorry for the inconvenience, I have a fix for it and will be released soon
https://github.com/appwrite/sdk-generator/pull/259

[2021-09-22 11:15] TorstenDittmann commented on #25
@kutear We just released `1.0.3` with this fix included again 👍🏻

https://github.com/appwrite/sdk-for-flutter/releases/tag/1.0.3

[2021-09-22 11:54] lohanidamodar commented on #25
Feel free to reopen, if this occurs again.

[2021-09-22 11:54] #25 closed

[2021-09-22 11:58] kutear commented on #25
https://github.com/appwrite/sdk-for-flutter/blob/1.0.3/lib/src/client_io.dart#L155

but i can see any modify at `1.0.3`, it's wrong to released?

[2021-09-25 16:09] dawid-niedzwiecki opened #33 "🐛 - User Object gives an error"
### Issue description:
when I execute `User _response = await Connection.instance.account.get();`, it gives an error:

[code]

I suppose the cause of this issue is that the resposne map in `account.dart:19`:
[code]
is a map with a key "prefs" -> List:
![image](https://user-images.githubusercontent.com/19879399/134778076-7f871806-2dde-4070-bd01-9799fde54454.png)
Which later, in `user.dart:41`:
[cod

[2021-09-26 04:45] lohanidamodar commented on #33
@dawid-niedzwiecki Can you please share the Appwrite Server version you are using?

[2021-09-26 14:43] dawid-niedzwiecki commented on #33
It's 0.10.4:
![Screenshot_2021-09-26-16-39-03-340_com android chrome](https://user-images.githubusercontent.com/19879399/134812556-a598c3bb-57b6-4b9b-a8ba-78ae892cd4a8.jpg)

[2021-09-26 23:06] dawid-niedzwiecki commented on #33
### Update

It came out, that it actually does work properly on newly created accounts. The issue happened on an account, that was created on a previous version of the Appwrite server. After deleting that account and creating a new one, the error didn't show up anymore.

[2021-09-27 00:48] lohanidamodar commented on #33
Could be a migration bug. We will take a look into it.

[2021-09-27 22:15] stnguyen90 commented on #33
@dawid-niedzwiecki, was your account originally created via OAuth2?

[2021-09-30 10:41] Meldiron opened #34 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 18:08] visheshjindal commented on #34
Hello @Meldiron

I would like to work on this. Kindly assign it to me.

Thank You

[2021-10-01 06:01] vendz commented on #34
can i work on this issue?

[2021-10-01 12:12] wrteam-priyansh opened #35 "AppwriteException: User (role: guest) missing scope (documents.write) (401) while creating new document"
Unable to add a document in the database. I have not authenticated the user.
Here is my code.

//
Client client = Client();
      client.setEndpoint(databaseUrl).setProject("6156deb490468").setSelfSigned(status: true);
      Database database = Database(client);
      database
          .createDocument(
            collectionId: '6156e69af2f61',
            data: {
              "name": "India",

[2021-10-03 18:01] visheshjindal commented on #34
@Meldiron

Kindly review PR #36

[2021-10-06 08:12] EliasDeuss opened #37 "CERTIFICATE*VERIFY*FAILED: certificate has expired on Windows 10"
This is the error I get when trying to connect to my appwrite server. I have a valid SSL (When visiting the address on Chrome give no SSL issues).

I have all the .env settings at default except the domain and the require ssl.

`[ERROR:flutter/lib/ui/ui*dart*state.cc(199)] Unhandled Exception: AppwriteException: HandshakeException: Handshake error in client (OS Error:

 CERTIFICATE*VERIFY*FAILED:

[2021-10-06 08:53] lohanidamodar commented on #37
Can you make a request to your endpoint with `http` package instead and check if you get the same error? If yes, this might be `http` package issue not an issue with Appwrite's Flutter SDK.

[2021-10-11 15:31] akram-95 opened #38 "Add contains possibility for listdocuments"
I want to check if a word comes in a text but I couldn't do that with actual filters functions
Can you please implement that ?

[2021-10-11 15:32] akram-95 opened #39 "How to get the url after a save an image on the storage API ?"
I need the url after the store for viewing the image using Image.network

[2021-10-17 14:18] pauli2406 opened #40 "📚 Documentation:"
### 💭 Description

Hey,

How would I configure different appwrite projects  per flavor? (Development, Staging, Production)

For iOS it is simple by just providing a different project id when initializing the client.

Tho I am having issues with the android setup, where I need to additionally add the new activity with the project id as a key

is there some documentation available or if not could yo

[2021-10-18 12:36] s3ppo opened #41 "🐛 Bug Report: Realtime subscribe creates two websocket connections"
### 👟 Reproduction steps

I use this code to connect:
[code]

i think it tries to create a reconnect after first connect.. the second one can be closed on dispose, but the first one can not be closed

<img width="257" alt="Bildschirmfoto 2021-10-18 um 14 37 13" src="https://user-images.githubusercontent.com/17125438/137731887-b8adebf0-36a5-4dc5-bd8c-3448dca92e8c.png">

<img width="257" alt="Bildsc

[2021-11-02 06:23] lohanidamodar commented on #35
Hey @wrteam-priyansh the database write operation is not permitted for un-authenticated users. if you don't want to authenticate user with their details you can use anonymous session to authenticate then you should be able to insert document. Closing this issues as resolved. If you have problems even after authentication feel free to reopen this issue.

[2021-11-02 06:23] #35 closed

[2021-11-02 06:58] lohanidamodar commented on #37
@EliasDeuss Yes, they later reported that it was their system that was causing the issue. Can you verify if it's something related directly to Appwrite and not in general. If you could share the codes you used both the code with Appwrite SDK that's causing the error and code with http package directly that's working as expected I might be able to provide further assistance.
Thank you

[2021-11-02 07:01] lohanidamodar commented on #38
@akram-95 I'm not sure I understand. Please describe more in details with examples and use cases. And most suitable place for this would be [Appwrite github discussions](https://github.com/appwrite/appwrite/discussions) so please continue there.
Thank you

[2021-11-02 07:01] #38 closed

[2021-11-02 07:04] lohanidamodar commented on #39
@akram-95 The image viewing with URL only works for images uploaded with public ('*') permission at the moment and you can construct that directly. For example a preview URL could be
`YOUR_ENDPOINT/storage/files/FILE_ID/preview?project=YOUR_PROJECT_ID&width=350&height=250`

[2021-11-02 07:04] #39 closed

[2021-11-02 07:07] lohanidamodar commented on #40
@pauli2406 What you are saying for iOS by providing different project id should work for any other platform including Flutter.

You can setup different projects in your console and then in Flutter when you run different flavor switch the project ID during client initialization. You should also remember to handle Collection IDs if you are using those per flavor as they would be different.

Not sure

[2021-11-29 05:51] eldadfux commented on #41
@lohanidamodar any news on this one?

[2021-11-29 05:51] #40 closed

[2021-11-29 06:43] s3ppo commented on #41
https://github.com/appwrite/sdk-generator/pull/314

[2021-12-11 07:26] chrislaurie-bs opened #44 "🚀 Feature: Add SetKey method to Client class."
### 🔖 Feature description

Currently, the SetKey method does not exist. It does in dart_appwrite.

### 🎤 Pitch

When trying to build an admin application that requires access to all artefacts outside the normal permissions, you need to be able to set the api key to use.  See: https://appwrite.io/docs/getting-started-for-server#apiKey

However, the SetKey method is not exposed in the flutter_appwri

[2021-12-13 00:52] jenniestrongbow opened #45 "📚 Documentation: Using maps"
### 💭 Description

Hi, is it possible to use Maps instead of arrays with the database? Thanks

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

### 🏢 Have you read the Code of Conduct?

- [X] I have read the [Code of Conduct](https://github.com/appwrite/appwrite/blob/HEAD/CODE_OF_CONDUCT.md)

[2021-12-13 06:19] lohanidamodar commented on #45
@jenniestrongbow having trouble to understand what you mean, please provide more details 🙏🏻

[2021-12-13 06:27] lohanidamodar commented on #44
@chrislaurie-bs
1. Adding and setting key on client side application is not secure
2. We have set-key on all server side SDKs only, that is why, `dart_appwrite` has it but `appwrite` doesn't have it.
3. If you want to use both sessions and API keys, in client side, at your own risk, you can use both the packages together.
4. Regarding the response models, it's already ready for `dart_appwrite` SDK

[2021-12-15 13:04] jlukas99 opened #46 "🐛 Bug Report: No file sent (400)"
### 👟 Reproduction steps

When i try upload image

### 👍 Expected behavior

it should be uploaded to storage

### 👎 Actual Behavior

returns me error AppwriteException: No file sent (400)

this is my code, i try to use client and server sdk, neither works

[code]

### 🎲 Appwrite version

Version 2.0.x

### 💻 Operating system

Linux

### 🧱 Your Environment

i use 2.8.0 flutter version

### 👀 Have y

[2021-12-16 13:32] jlukas99 commented on #46
I would like quick help as I have a deadline until tomorrow

[2021-12-17 16:16] #46 closed

[2021-12-18 14:42] #41 closed

[2021-12-22 03:40] eldadfux commented on #44
The new Dart SDK is now available: https://dev.to/appwrite/announcing-appwrite-dart-sdk-20-50a1

[2021-12-22 03:40] #44 closed

[2021-12-23 07:53] Mabenan opened #47 "Useless Key and Secret check in Flutter Web"
This peace of coding looks a bit useless to my eyes it also makes problems. When you are following the Describition how to request OAuth it results in an error that Key and Secret is missing.

https://github.com/appwrite/sdk-for-flutter/blob/81d8453f62e55e557f40320225452d4fd26eabe1/lib/src/client_browser.dart#L152

[2021-12-23 09:37] PineappleIOnic commented on #47
The `url` variable in this code snippet is very much needed as we need to be able to parse the URL Recieved back from the OAuth callback. As you can see here: https://github.com/appwrite/sdk-for-flutter/blob/81d8453f62e55e557f40320225452d4fd26eabe1/lib/src/client_browser.dart#L152-L154 `url` is used to get the Key and Secret to properly authenticate. If they are missing it is most likely another p

[2021-12-23 12:13] Mabenan commented on #47
yeah but key and secret is not used (in web for android it is a different thing). The Authentification works by the way if i go around the key and secret with the following success url http://localhost/auth.html?key=bla&secret=bla. So I don't thing it really has any use.

[2021-12-23 13:43] PineappleIOnic commented on #47
@lohanidamodar Might be able to give a bit more insight about this than I can 🙂

[2021-12-24 05:01] lohanidamodar commented on #47
@Mabenan as I see now, it does seem not required. Though it was not causing any issues when we last tested, we will surely update this. Thank you for notifying 🙏🏻

[2022-01-06 04:11] jsownz opened #48 "🐛 Bug Report: account.get() throwing error as appwrite returns int instead of bool"
### 👟 Reproduction steps

Flutter v.2.8.1
Dart v2.15.1
Appwrite v0.11.0.170

Create account
login:
`await account.createSession(email: email, password: password);`
call account.get:
`await account.get();`

[code]

Can be solved by modifying `\lib\src\models\user.dart:45` to:
`status: map['status']== 0 ? false : true,`

### 👍 Expected behavior

Return the user data

### 👎 Actual Behavior

throws ty

[2022-01-07 09:40] Mabenan commented on #47
I've tested it. It works now. A Little confusing is that the return of the createOAuth2Session is now the success URL while it was all the time null. But I think thats ok.

[2022-01-07 09:40] #47 closed

[2022-01-07 12:29] Meldiron commented on #48
In Appwrite 0.11, we used integer status values `0,1,2`. In Appwrite 0.12 this has been replaced with boolean values `true/false`. Can you double-check if you are using the correct SDK version for your Apwrite server?

If you use Appwrite 0.12, the latest SDK should work just fine (3.0.1 currently). If you use Appwrite 0.11, I believe the supported version of flutter SDK is 2.1.0.

[2022-01-07 18:22] jsownz commented on #48
@Meldiron thanks for the info, updated appwrite to 0.12 and it's working as your described

[2022-01-07 18:22] #48 closed

[2022-01-10 13:05] generalxhd opened #49 "🐛 Bug Report: createFloatAttribute() 'toDouble' was called on null."
### 👟 Reproduction steps

Execute the following function:
[code]

### 👍 Expected behavior

The function should be executed without an error.

### 👎 Actual Behavior

The function returns:
[code]

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating system

Linux

### 🧱 Your Environment

Appwrite 0.12

### 👀 Have you spent some time to check if this issue has been rais

[2022-01-11 19:15] wess commented on #49
Let's dive in, shall we?

[2022-01-11 19:17] generalxhd commented on #49
Oops sorry, I noticed this is the wrong repository. It should be in the sdk for dart. Should I remove the issue and raise it again in the correct repo?

[2022-01-11 19:28] wess commented on #49
Please :)

[2022-01-11 19:34] wess commented on #49
Moving to dart

[2022-01-17 09:09] patricktslee opened #51 "🐛 Bug Report: Failed to login Appwrite Anonymous account on Microsoft Edge (Chromium) on Flutter Web with appwrite 3.0.1 package"
### 👟 Reproduction steps

Failed to login Appwrite Anonymous account on Microsoft Edge (Chromium) on Flutter Web with appwrite 3.0.1 package.

But it can login Appwrite anonymous account using other browser such as Microsoft Internet Explorer, Google Chrome and any Safari in MacOS/ iOS/iPad OS. Is it the any workaround to solve this?

### 👍 Expected behavior

The web page load and login the Appwri

[2022-01-26 13:54] jonorozcoc opened #52 "🐛 Bug Report: Error when widget binding is not initialized"
### 👟 Reproduction steps

- Create a flutter project
- Create appwrite project and add flutter platform
- Install appwrite package to flutter project
- Initialize client as explained on example or readme

### 👍 Expected behavior

Connect to appwrite server

### 👎 Actual Behavior

Throwing exception
Null check operator used on a null value

### 🎲 Appwrite version

Different version (specify in envi

[2022-01-26 13:55] jonorozcoc commented on #52
FYI, I've fixed the issue with this line before client initialization:

`  WidgetsFlutterBinding.ensureInitialized();`

If you want I can make a PR to update the docs

[2022-01-27 01:14] patricktslee commented on #51
I found that this is the issue on my Microsoft Edge Chromium.  After I clear the cache of Microsoft Edge Chromium and restart the Microsoft Edge Chromium, the Appwrite anonymous authentication login is working fine.

[2022-01-27 01:14] #51 closed

[2022-02-11 05:58] lohanidamodar commented on #33
Closing this, as this should be fixed in the newer versions of SDK and Appwrite, if not feel free to reopen the issue.

[2022-02-11 05:58] #33 closed

[2022-02-11 05:59] lohanidamodar commented on #37
Closing this as there are no new activity. Feel free to reopen if the issue still persist.

[2022-02-11 05:59] #37 closed

[2022-02-11 06:00] lohanidamodar commented on #45
Closing this as no new information was provided. Feel free to reopen with proper information.

[2022-02-11 06:00] #45 closed

[2022-02-11 06:01] lohanidamodar commented on #52
When you use `async` and `await` features in Flutter applications `main` function, you have to provide `WidgetsFlutterbinding.ensureInitialized()`.

[2022-02-11 06:01] #52 closed

[2022-03-03 13:09] ksmk007 commented on #35
message: User (role: guest) missing scope (files.write), code: 401, version: 0.12.3

[2022-03-03 13:10] ksmk007 opened #53 "message: User (role: guest) missing scope (files.write), code: 401"
Future res = storage.createFile(
        file: await MultipartFile.fromFile(file.path, filename: file.name),
        read: [],
        write: [],
      );

message: User (role: guest) missing scope (files.write), code: 401, version: 0.12.3

not write

how to solve this problem

_Originally posted by @ksmk007 in https://github.com/appwrite/sdk-for-flutter/issues/35#issuecomment-1058026223_

[2022-03-15 04:34] lohanidamodar commented on #53
@ksmk007 you need to have an active session in order to be able to create a file, are you logged in?

[2022-03-21 08:35] lohanidamodar commented on #53
Closing as no new information!

[2022-03-21 08:35] #53 closed

[2022-03-26 11:52] anandsubbu007 opened #103 "🐛 Bug Report: AppwriteException: null, Concurrent modification during iteration: Instance(length:2) of '_GrowableList'. (0)"
### 👟 Reproduction steps

when i tried to log in session.

### 👍 Expected behavior

-

### 👎 Actual Behavior

AppwriteException: null, Concurrent modification during iteration: Instance(length:2) of '_GrowableList'. (0)

### 🎲 Appwrite version

Version 0.11.x

### 💻 Operating system

Windows

### 🧱 Your Environment

Flutter

### 👀 Have you spent some time to check if this issue has been raised bef

[2022-03-28 08:37] Re-Shard opened #55 "🐛 Bug Report: Event is triggered multiple times when subscribing to multiple (different) channels"
### 👟 Reproduction steps

`Create`, `Update` & `Delete` events are being triggered multiple times when subscribed to multiple channels.
In the example below there are 2 create events when a userimage is added.

**First subscription:**
[code]

**Second subscription:**
[code]

### 👍 Expected behavior

There should be only 1 trigger event per event.

### 👎 Actual Behavior

The debug console shows the

[2022-03-28 08:46] Invisibleshroud opened #56 "🚀 Feature: Subscribe to event where an user has write permissions, beside to read permissions"
### 🔖 Feature description

At this moment you can only subscribe to events where the user has read permissions. There should be an option to listen to events of documents you created.
Some collections (like user images in a dating app) are readable to other members of the app, but when a user wants to list his own userimages and listen to changes, it needs to listen to documents that the user crea

[2022-03-28 08:47] #56 closed

[2022-03-28 08:47] Invisibleshroud commented on #56
Created in wrong repo

[2022-03-28 08:48] Invisibleshroud commented on #56
[#330](https://github.com/appwrite/appwrite/issues/3030)

[2022-03-28 08:57] lohanidamodar commented on #55
Did you app hot-reload? That might cause the issue, hot-reload can create unexpected behavior with the websockets even when there is only one subscription. Can you try with complete hot restart and check if you still have the issue?

[2022-03-28 09:03] Invisibleshroud commented on #55
Still the same problem

[2022-03-30 15:06] Invisibleshroud commented on #55
@lohanidamodar it has still the same problem. It looks like it doesnt close the previous subscription, when added a new channel to the subcription.

[2022-04-05 11:40] lohanidamodar commented on #55
@Invisibleshroud ok, will test and let you know what I find.

[2022-04-06 07:06] lohanidamodar commented on #55
@Invisibleshroud hey, this only happens to me when I have either hot reloaded or hot restarted. In both cases the subscription is not closed so each time I hot restart or hot-reload, new subscription is added on top of that, so I get multiple events.
When I run the project without hot reload or hot restart, I don't have this issue. Can you confirm it's the same with you.

[2022-04-25 17:49] MaddinMade opened #57 "🚀 Feature: Change cookie storage"
### 🔖 Feature description

Currently, the cookies are stored in files that can be accessed by other apps.

### 🎤 Pitch

I would suggest that you change the location of the cookies. I would use the plugin flutter_secure_storage for this purpose. I have also implemented this locally for my own projects. If desired, I can provide a corresponding pull request.

### 👀 Have you spent some time to check

[2022-04-27 04:46] lohanidamodar commented on #55
@Invisibleshroud This seems to be a issue with the Flutter web itself  on hot restart this happens on normal web-socket connection as well. This is not solvable at the moment, check this issue and comments there.
https://github.com/flutter/flutter/issues/69949#issuecomment-975767676

[2022-04-28 01:23] lohanidamodar commented on #57
@MaddinMade we would love the pull reuqest. However the PR has to be made in our https://github.com/appwrite/sdk-generator repository, as we use templates and swagger specs to auto-generate our SDKs. Let us know if you are interested 🙏🏻

[2022-04-28 01:39] MaddinMade commented on #57
@lohanidamodar Yes, I am interested, but I have no experience with such templates. Do I just need to edit the twig files?
And also should a migrator be written to transfer the cookies to the new storage if they are still in the old storage?

[2022-05-08 10:42] OHeroJ opened #58 "How to make a fuzzy query？"
[code]

return nothing

[2022-05-09 12:25] lohanidamodar commented on #57
- Yes, editing twig files should be really simple once you implement the code in sdk-for-flutter, you can find the similar files in templates and update them.
- Yes, if possible we should write the migrator, if not, we should describe it as a breaking change.

[2022-05-11 20:25] kekavc24 opened #59 "🐛 Bug Report: Flutter Windows Concurrent Modification Error"
### 👟 Reproduction steps

When I try `database.list()`  with Queries or `teams.getMemberships()`  throws a ` Unhandled Exception: AppwriteException: null, Concurrent modification during iteration: Instance(length:2) of '_GrowableList'`

### 👍 Expected behavior

It should fetch the polled results normally with results like in Flutter Android, iOS and Web.

### 👎 Actual Behavior

Constantly throws a

[2022-05-12 06:42] lohanidamodar commented on #59
Duplicate https://github.com/appwrite/sdk-generator/issues/417

[2022-05-12 06:42] #59 closed

[2022-05-12 06:43] lohanidamodar commented on #58
@OHeroJ Please explain.

[2022-05-13 02:31] OHeroJ commented on #58
@lohanidamodar How to use like queries similar to sql?

[code]

[2022-05-14 16:14] pixeluvw opened #60 "🐛 Bug Report: Users not found"
### 👟 Reproduction steps

Hi,

This code "Users users = Users(client);" does not work with flutter SDK. Is there a difference between dart and flutter SDK? Since this same chunk of code is working with dart sdk

### 👍 Expected behavior

Dart or flutter normally share same code

### 👎 Actual Behavior

Users not defined in flutter appwrite package

### 🎲 Appwrite version

Different version (specify

[2022-05-14 18:25] 2002Bishwajeet commented on #60
Users API is basically something that would be found on server side. so you won't find this API class in the flutter_appwrite . And yes there is a difference between `[flutter_appwrite](https://pub.dev/packages/appwrite)` and `[dart_appwrite](https://pub.dev/packages/dart_appwrite)` . Flutter appwrite SDK contains all the APIs for the client side while the Dart appwrite SDK is used for performing

[2022-05-14 21:04] pixeluvw commented on #60
Actually I was trying to undestand the code bellow which by the way found in the flutter sdk
[code]

[2022-05-15 05:11] 2002Bishwajeet commented on #60
This creates a new user on the server side.  And you will find this code in the [`dart package`](https://github.com/appwrite/sdk-for-dart/blob/master/lib/services/users.dart) .

[2022-05-18 03:01] Hu-Wentao opened #61 "🐛 Bug Report: Unable to receive any messages from realtime"
### 👟 Reproduction steps

I wrote realtime code with reference to the document, but I still can't receive any messages.
Can someone provide a example project for reference?
// DI code
[code]

[code]
I have tried to modify the account name, create a new collection, modify the collection properties, add documents, modify the contents of documents and so on, but I can't receive any messages from real

[2022-05-19 17:46] stnguyen90 commented on #61
Some questions:

1. You only have 1 instance if Client?
2. You're calling subscribe after logging in and then creating/updating documents, but you don't see any event?
3. Can you inspect the websocket messages to see what's being sent/received? In Chrome, you should be able to see this in the Network logs

FYI, the following channels don't exist:

1. collections
2. users
3. database
4. documents.<

[2022-05-20 12:29] Hu-Wentao commented on #61
Thanks for the answer !
I used the "playground-for-flutter" project, which worked.
Maybe this project should be used as the first recommended example  :）

[2022-05-20 12:29] #61 closed

[2022-05-22 08:23] Appwrite-Guru opened #62 "🐛 Bug Report: ApiClient.account.get(); throw an error"
### 👟 Reproduction steps

Just call ApiClient.account.get() when you are not loged in. I expected to get a null but this is not nullable value. Im getting something like this

[ERROR:flutter/lib/ui/ui_dart_state.cc(209)] Unhandled Exception: AppwriteException: general_unauthorized_scope, User (role: guest) missing scope (account) (401)
E/flutter (18416): #0      ClientMixin.prepareResponse (packag

[2022-05-23 06:58] hey-nicolasklein opened #63 "🚀 Feature: Url to view file in addition to uInt8List"
### 🔖 Feature description

I'm currently developing a Flutter App for mobile, web and desktop. Each platform has it's unique challenges. Currently I'm trying to play video from my appwrite backend. While it is no problem to create a local file from a byteList on mobile and play a video from it, there is no play from file on web.

Of course, I can call the appwrite rest Api with the /view directive

[2022-05-23 22:57] stnguyen90 commented on #62
This is expected behavior. [`account.get()`](https://github.com/appwrite/sdk-for-dart/blob/master/lib/services/account.dart#L11) returns `Future<models.User>`, not `Future<models.User?>` indicating the return can never be `null`. In addition, every SDK works the same way in which if the API call is unsuccessful (response status code >= 400), an exception is thrown.

[2022-05-24 22:11] baas-enjoyer opened #64 "🐛 Bug Report: WidgetsBinding.instance?.removeObserver"
### 👟 Reproduction steps

Hi.

I updated my appwrite version to the latest one and now I see this red warnings in the console.
Please take a look.

![Screenshot 2022-05-25 at 00 06 50](https://user-images.githubusercontent.com/44244477/170140513-bcc9fb4b-9489-41e1-a9e0-e8f30aac0865.png)

### 👍 Expected behavior

clear console

### 👎 Actual Behavior

Red warnings in the console

### 🎲 Appwrite vers

[2022-05-25 05:15] 2002Bishwajeet commented on #64
These warnings are from the [`flutter_web_auth`](https://github.com/LinusU/flutter_web_auth) package . There is also and issue [#117](https://github.com/LinusU/flutter_web_auth/issues/117) in the flutter_web_auth repo and a [PR](https://github.com/LinusU/flutter_web_auth/pull/118) is also pending. All we can hope is to be that it gets merged soon

[2022-05-26 08:24] lohanidamodar commented on #64
For now these are just warnings and doesn't affect the functionality.

[2022-05-26 08:30] lohanidamodar commented on #63
@hey-nicolasklein For now you can construct the URL yourself easily. Here's the trick

`[YOUR_ENDPOINT]/storage/buckets/{bucketId}/files/{fileId}/preview?project=[PROJECT_ID]`.

Make sure to use the endpoint. If you do this, you need to make the file public.

[2022-05-26 08:36] lohanidamodar commented on #58
`Query.search("title", searchKey!)` should work if search key is `hello`. Please share the data set you have and code you are using.

[2022-05-28 02:41] #58 closed

[2022-06-01 02:03] patricktslee opened #65 "🐛 Bug Report: Failed to get the Session object from Future<Session>"
### 👟 Reproduction steps

Have you experienced the issue on Flutter to run Appwrite "Get Session By ID"? I tried to setup the getSession method on below.  But it looks like that it is failed to get the Session object from Future<Session>.  Please see my below code and debug console message.

[code]

Debug console message

[code]

It can't find the "getSession($sessionID) response is" message in de

[2022-06-10 07:41] hey-nicolasklein commented on #63
Hey @lohanidamodar thanks for the trick. But I really would like to use authentication. My project guidelines do not allow to make the files public. Is there any other solution?

[2022-06-12 07:42] lohanidamodar commented on #65
@patricktslee What is the Appwrite Server version? The latest appwrite package works with lates version of Appwrite only. Please confirm you are using the latest version of Appwrite server.

[2022-06-12 09:59] patricktslee commented on #65
The appwrite server version is version 0.13.4.304. What is the flutter Appwrite package version for these appwrite server version?

[2022-06-12 11:31] 2002Bishwajeet commented on #65
Hey @patricktslee , you must use `4.0.2` version

[2022-06-13 04:57] lohanidamodar commented on #65
@patricktslee colsing this as resolved. Use the suggested version. You can always check the SDK Readme which lists the compatible server version.

[2022-06-13 04:57] #65 closed

[2022-06-13 04:58] lohanidamodar commented on #63
Generating JWT for user and passing `jwt=token` as the query parameter might work (not completely sure). But we are working on solving this automatically in the SDKs as well.

[2022-06-14 06:14] hey-nicolasklein commented on #63
Can you explain what you mean by putting project as the query parameter?
You mean like `...{fileId}/preview?jwt=token?project=[PROJECT_ID]`?

[2022-06-15 12:55] hey-nicolasklein opened #67 "🚀 Feature: Offline Database Support"
### 🔖 Feature description

Hey, I'm currently developing an app that has to be offline first. I know that the Firebase offline functionality is a planned feature for appwrite as a whole. But what are some solutions that could be used right now? The discussion over on the appwrite repo is more focused on appwrite as a service providing such functionality. But which options could be recommended for

[2022-06-16 22:10] mimib00 opened #68 "🚀 Feature: a function like onAuthStateChange in firebase"
### 🔖 Feature description

this function is a stream and returns the user object if logged in or null if logged out

right now I'm trying to make this feature but idk if the appwrite team would like this feature or not.

so far implementing this feature is like hell for me cause it's my first time trying to contribute to an open-source project.

### 🎤 Pitch

in firebase, there is this function cal

[2022-06-19 00:45] lohanidamodar commented on #68
@mimib00 Hi, thank you for feature request and your interest in contributing. However, rather than this being a part of our SDK this will be better suited as another package that uses Appwrite's SDK to implement this feature. Something like [appwrite_auth_kit](https://pub.dev/packages/appwrite_auth_kit) which uses ChangeNotifier and Inherited Widget to achieve something similar. Do check it out an

[2022-06-19 00:49] lohanidamodar commented on #67
@hey-nicolasklein As long as the package you choose supports remote REST APIs, Appwrite should work with them. Personally I've not tried any of them to let you know the best approach. From what I see the package you linked seems to be most flexible and configurable. If you find the best approach, we would love for your contributions an article, demo project whatever you would like.
Let us know if

[2022-06-19 00:50] lohanidamodar commented on #63
Yes like this.
`..{fileId}/preview?jwt=token&project=[PROJECT_ID]?`

[2022-06-19 08:34] mimib00 commented on #68
Thanks for the reply I'll check that package, and I'll see what I can contribute to the project

[2022-07-07 23:15] stnguyen90 commented on #60
@2002Bishwajeet, thanks for chiming in on this!

@pixeluvw, is there anything else you need for this or can it be closed?

[2022-07-08 08:03] pixeluvw commented on #60
That's fine for me thanks

[2022-07-08 08:03] #60 closed

[2022-07-08 08:03] pixeluvw commented on #60
Thanks again

[2022-07-08 16:08] stnguyen90 commented on #62
@Appwrite-Guru Is there anything else you need or can this be closed?

[2022-07-10 17:46] Appwrite-Guru commented on #62
I think that you can close it :)

[2022-07-10 17:46] #62 closed

[2022-07-11 06:48] hey-nicolasklein commented on #63
Can I get the JWT Token from the current session (in the Flutter SDK)?

[2022-07-14 04:33] lohanidamodar commented on #63
You can by calling `account.createJWT` after you have an active session

[2022-07-14 06:46] frmatthew opened #70 "🚀 Feature: add progress callback on Storage API for downloads (getFileDownload and getFileView)"
### 🔖 Feature description

Just as Storage.createFile has an optional onProgress callback, it would be very helpful for getFileDownload and getFileView to have an onProgress callback also for the download progress.

Alternatively, the API could allow plugging in custom http clients (such as Dio?) which already have hooks for tracking request/response progress.

### 🎤 Pitch

This would allow dynami

[2022-07-14 06:51] frmatthew commented on #70
A workaround for public files is to create the URL manually (see #63) and use a different http client altogether which tracks progress. But this won't work for files requiring authentication.

[2022-07-14 18:44] #63 closed

[2022-07-15 23:25] stnguyen90 opened #71 "🚀 Feature: Method to Generate File URL"
### 🔖 Feature description

Add `storage.getFileDownloadURL()`, `storage.getFilePreviewURL()`, and `storage.getFileViewURL()` methods.

### 🎤 Pitch

There are instances where it would be helpful to get a URL rather than the file as bytes such as when used by [`Image.network()`](https://api.flutter.dev/flutter/widgets/Image/Image.network.html) or on Flutter Web.

### 👀 Have you spent some time to ch

[2022-07-20 16:46] Pastajello opened #72 "🐛 Bug Report: Functions(client).list return false instead of empty dictionary as response when no variables are set"

[2022-07-20 22:07] TorstenDittmann commented on #72
I feel like we had the issue at some point already.

@lohanidamodar do you remember this?

[2022-07-21 05:54] lohanidamodar commented on #72
@TorstenDittmann isn't this because we are hding the VARS in client side request?

[2022-07-21 10:54] lohanidamodar commented on #72
@Pastajello hey there's no `list` method in Flutter SDK for function service, it's only available for our https://github.com/appwrite/sdk-for-dart in the server side. Client side SDKs don't support Functions listing, please let us know the Full scenario how you are using some code sample and what SDK you are using would be great. Thanks.

[2022-07-21 10:57] Pastajello commented on #72
@lohanidamodar Yeah, seems like I mistook the repo. This is about server side Dart SDK. :(

[2022-07-21 11:16] lohanidamodar commented on #72
Let's move it there, also I'll test it soon and let you know.

[2022-07-21 11:34] binhodev commented on #71
Don't is necessary only a method to get URL?

[2022-07-21 13:31] binhodev commented on #71
How I have mentioned in discord,  I forked this project now, i have updated the method 'getFileView' and make fews changes to obtain a url in same method.
So then,  `storage.getFileView()`, `storage.getFilePreview()` and `storage.getFileDownload()` can obtain a URL and show a Image with widget `Image.network()`.

And bonus, a method to get a URL passing `bucketId` and `fileId` outside methods abov

[2022-08-10 09:29] Chandram-Dutta opened #80 "🐛 Bug Report: device_info_plus_windows-2.1.1 Error: Required named parameter 'userName' must be provided."
### 👟 Reproduction steps

Running the app on android and linux is causing error and not building the app

### 👍 Expected behavior

it shouldnt crash and the app should build and run

### 👎 Actual Behavior

![Screenshot from 2022-08-10 14-52-38](https://user-images.githubusercontent.com/81961406/183865881-624a5c42-c4ae-4486-b6b8-5478ef2681e0.png)

---
## On Android
Launching lib/main.dart on RMX346

[2022-08-10 15:56] stnguyen90 commented on #80
@Chandram-Dutta, thanks for raising this issue! 🙏

@lohanidamodar, does the following PR fix this?

- https://github.com/appwrite/sdk-generator/pull/510

[2022-08-11 00:56] lohanidamodar commented on #80
@stnguyen90 @Chandram-Dutta Yes this fixes the issue, will publish the fix soon. For now if you are stuck, you should be able to override the dependency and solve the issue by adding the following in your project's pubspec.yaml file
[code]

Let me know if this works or not

[2022-08-11 05:47] Chandram-Dutta commented on #80
@lohanidamodar

### Getting this error on using device_info_plus: ^4.0.3

Because device_info_plus >=4.0.3 depends on device_info_plus_windows ^3.0.3 and no versions of device_info_plus_windows match >3.0.3 <4.0.0, device_info_plus >=4.0.3 requires device_info_plus_windows 3.0.3.
And because device_info_plus_windows 3.0.3 depends on ffi ^2.0.1, device_info_plus >=4.0.3 requires ffi ^2.0.1.
And bec

[2022-08-11 06:33] lohanidamodar commented on #80
makes sense, as those had common dependencies.

[2022-08-18 21:25] DobreRadu opened #81 "🐛 Bug Report:Flutter web app, createFile() not uploading the whole file"
### 👟 Reproduction steps

I am using flutter_dropzone: ^3.0.5 to load the file,in onDrop: (dynamic ev) I added
[code]
to create to create a List<int> of the file.Using the createFile from appwrite sdk loads the image on the server(bigger than 5MB),it displays the actual size but when downloading it gives me part of the image(I estimate 5MB of data because of the test I did,where an image of 6Mb wa

[2022-08-18 21:34] stnguyen90 commented on #81
I also tried to upload a file using the [playground-for-flutter](https://github.com/appwrite/playground-for-flutter), but the uploaded file seemed to be invalid after downloading it again.

[2022-08-18 21:41] DobreRadu commented on #81
Yes upload works,but downloading it from server or displaying in the 'New Window' option doesn't work.

[2022-08-22 10:35] jocubeit commented on #64
I think think the dependency should be replaced with [https://pub.dev/packages/flutter_web_auth_2](https://pub.dev/packages/flutter_web_auth_2) which is an updated fork of the apparently abandoned original flutter_web_auth. The current dependency's last update was in Feb, and given there are a number of PRs going unanswered I think we can call it what it is - **abandoned**. The link above is the c

[2022-08-23 04:57] lohanidamodar commented on #81
@DobreRadu @stnguyen90 can you try setting the proper content type in `InputFile` It might be because content type is missing. Let me know if that works, we might need to update so that content type is required when providing bytes

[2022-08-24 04:54] lohanidamodar commented on #81
@DobreRadu I got it working without issues, here's the code I'm using
https://github.com/appwrite/playground-for-flutter/tree/feat-upgrade-latest

Let me know if this works. (I'm using `getFileData` instead of `getFileStream`) to get the file bytes.

[2022-08-24 05:30] DobreRadu commented on #81
I will try soon,thanks.

[2022-08-24 13:49] binhodev opened #82 "🐛 Bug Report: Cloud Functions don't show response or stderr logs"
### 👟 Reproduction steps

Hello everyone,

Making a execution of an Cloud Functions, this return ok, but the logs (response and stderr) is empty.
On Appwrite console I can see all logs.

### 👍 Expected behavior

Show all logs.

### 👎 Actual Behavior

Flutter log:

Console stderr log:

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating system

MacOS

### 🧱 Your Envi

[2022-08-24 14:01] binhodev commented on #82
Checking the documentation, is possible obtain the log using `function.getExecution()`, but is needed a `functionId` and `executionId`. I think this is a redundant operation, because in the console it is possible to get the 'response' right after the execution is created.

[2022-08-24 15:13] stnguyen90 commented on #82
@binhodev, the for creating this issue! 🙏 by default, function executions are asynchronous. That's why the status in the response is waiting. To wait for the execution to finish before returning, pass false for the async parameter.

[2022-08-24 15:15] stnguyen90 commented on #82
@gewenyu99, perhaps it would be good to update the description of the create execution API to explain more about async vs sync.💡

[2022-08-24 15:42] stnguyen90 commented on #82
@binhodev, we are continuously updating our docs. Do you have some specifics on what needs updating?

[2022-08-24 17:06] redarflap opened #83 "🐛 Bug Report: RealtimeSubscription not being closed properly"
### 👟 Reproduction steps

Close a RealtimeSubscription.
Create and assign a new subscription.

[code]

### 👍 Expected behavior

Only one connection and subscription stream should be active.

### 👎 Actual Behavior

The old StreamController of the subscription remains active next to the new subscription.
This leads to two simultanuously open subscriptions and two open connections to the server.
Ever

[2022-08-24 17:15] binhodev commented on #82
@stnguyen90, https://github.com/appwrite/appwrite/issues/3536#issuecomment-1181778666

[2022-08-24 18:42] DobreRadu commented on #81
Tried using getFileData,still doesn't work.
`Future<File> result = storage.createFile(
                                  bucketId: dotenv.env['APPWRITE_BUCKET'] ?? '',
                                  fileId: 'unique()',
                                  file: InputFile(
                                      filename: '${ev.name}',
                                      bytes: await dropFileContro

[2022-08-24 18:45] stnguyen90 commented on #81
@DobreRadu, would you be able to provide the original file you're trying to upload?

[2022-08-24 18:45] DobreRadu commented on #81
![unknown](https://user-images.githubusercontent.com/63060159/186498566-05f7b96a-638e-467f-9f48-b418efbbe948.png)

[2022-08-24 18:46] DobreRadu commented on #81
I heard about content type to be set?Should I set it to png?

[2022-08-24 20:28] DobreRadu commented on #81
Did it work ?

[2022-08-24 20:29] stnguyen90 commented on #81
@DobreRadu, I was able to reproduce, but @lohanidamodar will need to test to see if he can reproduce.

[2022-08-24 20:30] DobreRadu commented on #81
Oh ok,thanks.

[2022-08-26 21:01] redarflap commented on #83
After reading other issues, it is possible that this has been caused by hot restarts. Closing the issue for now.

https://github.com/appwrite/sdk-for-flutter/issues/55

[2022-08-26 21:01] #83 closed

[2022-08-29 06:20] jocubeit commented on #64
I forked the [sdk-for-flutter](https://github.com/startcommerce/appwrite_flutter) to test swapping in the https://pub.dev/packages/flutter_web_auth_2 dependency.

I had to update `device_info_plus` to `^4.1.2` and `package_info_plus` to `^1.4.3+1` at the same time.

I've tested the forked version of `sdk-for-flutter` with GitHub OAuth in a Flutter web app and all is working as expected with clean

[2022-08-29 06:32] eldadfux commented on #64
@jocubeit I think you can go ahead and implement the new dependency, this will also help us ensure all tests are running properly. @lohanidamodar has reached out to the maintainer of `flutter_web_auth_2` to see if our team can help with maintenance of the new package.

[2022-08-29 06:48] jocubeit commented on #64
Alright great!  I'll go ahead and create a PR.

Thanks for the swift response.

[2022-09-01 11:40] eldadfux commented on #64
Thank you everyone for all the help, version 7.0 with the fix has been released 💙 More info and credits to you all in our latest blog post: https://dev.to/appwrite/announcing-new-versions-for-appwrites-flutter-and-dart-sdks-4l5j

[2022-09-01 11:40] #64 closed

[2022-09-07 15:35] grisoftumut commented on #81
BTW how you can upload big size of files? I can't any upload if the size bigger than 5mb. I don't understand the content-range details with dart

[2022-09-07 18:27] stnguyen90 commented on #81
@grisoftumut, thanks for your question, but please either create a new issue or join us on [Discord](https://appwrite.io/discord). It can be confusing to talk about different topics in one issue.

[2022-09-07 21:33] stnguyen90 opened #88 "🚀 Feature: Improve Pub Points on pub.dev"
### 🔖 Feature description

pub.dev score: https://pub.dev/packages/appwrite/score

1. [ ] Use an OSI-approved license. Sample projects with a valid [BSD-3](https://opensource.org/licenses/BSD-3-Clause) license
    * [url_launcher](https://github.com/flutter/plugins/blob/main/packages/url_launcher/url_launcher/LICENSE)
    * [device_info_plus](https://github.com/fluttercommunity/plus_plugins/blob/m

[2022-09-07 21:37] stnguyen90 commented on #88
For the static analysis problem:

we can try using [universal_html](https://stackoverflow.com/questions/60646793/avoid-using-web-only-libraries-outside-flutter-web-plugin-packages).

[2022-09-08 03:24] jocubeit commented on #8
This issue can now be closed as we moved to flutter_web_auth_2 here https://github.com/appwrite/sdk-generator/pull/527

[2022-09-08 03:25] #8 closed

[2022-09-14 13:50] xni06 opened #90 "🐛 Bug Report: You've forgotten to add unit tests to the repo"
### 👟 Reproduction steps

Look for unit tests...

### 👍 Expected behavior

Expect to see some unit tests

### 👎 Actual Behavior

There aren't any unit tests :-(

### 🎲 Appwrite version

Version 2.0.x

### 💻 Operating system

MacOS

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I checked and didn't find similar issue

###

[2022-09-15 15:06] mazieri opened #91 "🐛 Bug Report: can't run macOS Flutter App on M1"
### 👟 Reproduction steps

replace the dependencies and dev_dependencies in your pubspec.yaml file to this:

[code]

### 👍 Expected behavior

start iOS, Android, Web and macOS Flutter App

### 👎 Actual Behavior

don't start and get error when I run a macOS app in M1

![CleanShot 2022-09-15 at 10 47 29](https://user-images.githubusercontent.com/44025173/190439000-d377a33e-892d-4564-9c0a-486710124887

[2022-09-15 19:37] stnguyen90 commented on #91
@mazieri `flutter_web_auth_2` requires a newer version of MacOS. Please try updating:

1. `macos/Podfile`
    1. `platform :osx, '10.11'` to `platform :osx, '10.15'`
2. `macos/Runner.xcodeproj/project.pbxproj`
    1. `MACOSX_DEPLOYMENT_TARGET = 10.11;` to `MACOSX_DEPLOYMENT_TARGET = 10.15;`

[2022-09-15 19:38] #80 closed

[2022-09-15 19:58] mazieri commented on #91
worked !! thanks a lots man, u is a monster !!

[2022-09-15 19:58] #91 closed

[2022-09-19 07:51] vrescobar opened #93 "🐛 Not a Bug Report: There are two different Account classes"
### 👟 Reproduction steps

There are two accounts: models.Account and appwrite.Account

### 👍 Expected behavior

While this is not an actual bug, it is annoying to say the least, and usually a bad practice. I would like to propose to refactor appwrite.Account (services/Account.dart) to AccountService and avoid name clash in the files that both definitions are needed.

### 👎 Actual Behavior

Unambig

[2022-09-19 07:53] vrescobar commented on #93
Perhaps it is between bug (usability) and enhancement.

[2022-09-21 02:37] lohanidamodar commented on #93
@vrescobar this is the downside of language that doesn't support namespace. We don't want to switch to `AccountService` for the sake of consistency across our SDKs and platforms. And we don't yet have a better solution than this where you can import `import package:appwrite/models.dart as models` to avoid name clash. Let us know if you have other better suggestions, which can help us be consistent

[2022-09-21 02:41] lohanidamodar commented on #90
@xni06 Thank you for raising the issue. We do welcome the contribution if anyone is interested. However, the unit tests will have to be written in our https://github.com/appwrite/sdk-generator As our SDKs are generated from swagger specs, we need to generate relevant tests using the specs as well. We do plan on adding tests to all our SDKs.

[2022-09-21 07:30] xni06 commented on #90
I'm talking about unit tests for the Flutter app, not the `sdk-generator`.

[2022-09-21 14:48] superakabo opened #94 "🚀 Feature: Improve API syntax"
### 🔖 Feature description

The APIs for Appwrite can be improved, made less verbose and more Dart/Flutter friendly by adopting a declarative approach in many scenarios. Also, since majority of Appwriters might have experience with Firebase, I think it will be best to create  similar APIs or better. I think the experience will be better if developers for example, do not have to create instances of

[2022-09-30 11:41] DanielAlbertSwan opened #96 "🐛 Bug Report: OAuth2 under Windows"
### 👟 Reproduction steps

Run Windows Desktop app and create an OAuth session like this
createOAuth2Session(provider: "microsoft");

### 👍 Expected behavior

I get an Session like I do when I make this in Browser

### 👎 Actual Behavior

I get an Exception from flutter_web_auth_2 that the callbackUrlScheme is wrong. It is because the following check is implemented by flutter_web_auth_2
https://gith

[2022-09-30 12:23] 2002Bishwajeet commented on #96
yea, so Fluttter_web_auth for windows is still buggy and the approach is not perfect for windows implementation

[2022-09-30 18:21] stnguyen90 commented on #96
@DanielAlbertSwan, what happens if you do:

[code]

I actually assume flutter_web_auth_2 will work fine, but the Appwrite SDK will throw an exception because of:

https://github.com/appwrite/sdk-for-flutter/blob/f8480fdeecfb23782bd5b33d0e2a7db44fc8c391/lib/src/client_io.dart#L322-L325

[2022-10-01 12:16] niteshsh4rma commented on #88
Hi @stnguyen90, I would like to work on this, can you add me as assignee ?

[2022-10-01 12:24] ThexXTURBOXx commented on #96
@2002Bishwajeet Your bug should already be fixed (https://github.com/ThexXTURBOXx/flutter_web_auth_2/issues/7), so it is not inherently buggy.
However, yes, there is an important limitation: The error message you get should already tell you what you did wrong :)
[code]
For now, the callback scheme must start with `http://localhost:{port}` such that `flutter_web_auth_2` can pick the parameters up.

[2022-10-01 14:58] 2002Bishwajeet commented on #96
Yea, the limitation is the thing I am talking about ( sorry for reframing it wrong), and my callback Url scheme since must start with localhost, so maybe not be possible to use in production (it's not gonna be localhost forever🙂). I am still thinking of a better approach and it might take some time to discuss with my team before making a PR

[2022-10-01 15:54] stnguyen90 commented on #88
Thanks for your interest, @niteshsh4rma! Please make sure to make the change in the [SDK Generator](https://github.com/appwrite/sdk-generator) repo.

[2022-10-02 10:16] AnirudhDaya opened #98 "🚀 Feature: Developer environment (Online IDE)"
### 🔖 Feature description

Hello maintainers.
I would like to add gitpod to your repo to help beginners contribute.

- Gitpod is an online IDE which can be launched from any GitHub page. Within seconds, Gitpod provides a fully working development environment, including a VS Code-powered IDE and a cloud-based Linux container explicitly configured for the project
- I have seen one of your [repo](htt

[2022-10-02 22:03] stnguyen90 commented on #98
@AnirudhDaya, thanks for your interest! 🙏 Unfortunately, this is a read only repo and people shouldn't be developing directly against it so it doesn't quite make sense to add gitpod to this.

[2022-10-03 03:27] AnirudhDaya commented on #98
Oh sorry my bad.
Is there any repo of appwrite which needs gitpod? If yes could you suggest them?

[2022-10-05 07:25] DanielAlbertSwan commented on #96
Hi stnguyen that doesn't work the callback url scheme on windows must be http://localhost:{some port}

This needs to be done here
https://github.com/appwrite/sdk-for-flutter/blob/f8480fdeecfb23782bd5b33d0e2a7db44fc8c391/lib/src/client_io.dart#L317
here we need something like this
`callbackUrlScheme: Platform.isWindows ? "http://localhost:4711" : appwrite-callback-" + config['project']!,`

for port

[2022-10-05 07:28] DanielAlbertSwan commented on #96
The question is how much sense does it make to allow a callbackURIScheme for the windows platform you could just determine a free port on the system and ignore the callbackURIScheme

[2022-10-05 13:06] DanielAlbertSwan commented on #96
Also the second thing with the key was once solved with #47 . Sadly it is back now

[2022-10-06 04:43] Silfalion commented on #67
Funnily enough this post was shared a few days after I saw your issue(was looking for a solution as well):

https://blog.xmartlabs.com/blog/introducing-stock/

Didn't try it myself yet, so can't vouch for it.

[2022-10-11 06:54] vrescobar commented on #93
I can totally understand your point, and yes, I also import it as models. However still a week after, having a class instance that returns an object of a class with the same name lead me to many subtle messes during this last week, even being aware of it.

Another option could be renaming the user account to User or Profile, perhaps that could also make sense in the other frameworks as it is often

[2022-10-11 19:38] biovolt opened #102 "🐛 Bug Report: Naming ap Account and user model Account is not the best decision."
### 👟 Reproduction steps

Use appwrite ^8.1.0 and try to get a user model .e.g.

[code]

### 👍 Expected behavior

I expect the service Account and the model Account // (User) to have different class names.

e.g. AccountUser or UserAccount or similar.

### 👎 Actual Behavior

Account is ambiguous because there are 2 classes in the same SDK called Account.
And the code won't compile

### 🎲 Appwrite v

[2022-10-11 19:41] #102 closed

[2022-10-11 19:45] biovolt commented on #93
I feel consistency must come second if it causes way worse side effects like code that does not compile and needs extra code in many places.
This causes way more other inconsistencies in the code.

[2022-10-14 16:07] stnguyen90 commented on #103
@nohli, @p4-k4, are you still having problems with the latest SDK?

[2022-10-14 16:16] nohli commented on #103
@stnguyen90 for me it's fixed since `appwrite: ^7.0.0` 👍🏽

[2022-10-19 15:06] Shiba-Kar opened #104 "🐛 Bug Report: Email Verification does not open the app ."
### 👟 Reproduction steps

1. Create account using email/password
2. Login to account using the same email/password
3. send Email verification request using ``` account.createVerification(url: url); ```
4. Open the link sent to the email
5. The app does not open instead opens the browser.

### 👍 Expected behavior

The link should navigate to app.

### 👎 Actual Behavior

The browser is opened.

###

[2022-10-19 15:26] stnguyen90 commented on #104
@Shiba-Kar, thanks for raising this issue! 🙏 What did you put for the `url` passed to `account.createVerification()`? Did you configure deep linking for your app so that it opens the app when the URL is opened?

[2022-10-19 15:33] Shiba-Kar commented on #104
@stnguyen90 I have configured deeplink . The deeplink works perfectly for OAuth

``` account.createVerification(url:"https://example.com") ```

[code]

[2022-10-20 07:49] Shiba-Kar opened #105 "🐛 Bug Report:"
### 👟 Reproduction steps

1. Write to USER database and write to username collection
[code]
2. Read the list of usernames in the usernames collection

[code]

### 👍 Expected behavior

List of Documets

### 👎 Actual Behavior

Error

[code]

### 🎲 Appwrite version

Version 2.0.x

### 💻 Operating system

Windows

### 🧱 Your Environment

_No response_

### 👀 Have you spent some time to check if this i

[2022-10-20 08:57] Shiba-Kar commented on #105
No Exceptions on the model if there is no permissions in the json.

[2022-10-21 00:45] lohanidamodar commented on #104
During the email verification, you need to handle the redirection yourself from your web app that verifies the email, are you doing that?

[2022-10-21 00:57] stnguyen90 commented on #104
@Shiba-Kar, if you want to enable deep linking with a URL, you'll need to do some additional configuration. See https://docs.flutter.dev/development/ui/navigation/deep-linking#enable-deep-linking-on-android

[2022-10-21 08:33] Shiba-Kar commented on #104
@stnguyen90 is this in the road map to do in the future by default.

[2022-10-21 13:20] stnguyen90 commented on #104
@Shiba-Kar probably not because we can't modify your manifest file for you and there are steps you have to do manually.

[2022-11-06 05:23] Faiyyaz opened #106 "🐛 Bug Report: Create document with role"
### 👟 Reproduction steps

When i try to create the document using the role of user id for users collection i am not able to create the user since it is giving permission error.

[code]

### 👍 Expected behavior

It should create the user document using the role

### 👎 Actual Behavior

It is giving permission issue

### 🎲 Appwrite version

Version 1.0.x

### 💻 Operating system

MacOS

### 🧱 Your Env

[2022-11-06 06:09] stnguyen90 commented on #106
@Faiyyaz, thanks for creating this issue! 🙏 Would you please provide the permission error you're getting?

[2022-11-06 06:09] stnguyen90 commented on #106
Also, you can't add a create permission on a document since it's ready created. Did you mean to add update permission?

[2022-11-06 07:10] Faiyyazk commented on #106
I am planning to create the document only if the users role is admin but i am not able to create it says permission should be either write, read, update or delete. Also if i try to create through rest api then also it is not considering the permission and allowing creation of documents.

[2022-11-06 07:13] Faiyyaz commented on #106
I am planning to create the document only if the users role is admin but i am not able to create it says permission should be either write, read, update or delete. Also if i try to create through rest api then also it is not considering the permission and allowing creation of documents.

[2022-11-06 09:45] Faiyyaz commented on #106
Please find attached screenshot of the output i am getting while creating the post document.

<img width="1440" alt="Screenshot 2022-11-06 at 2 13 43 PM" src="https://user-images.githubusercontent.com/18116236/200161889-b9370c81-5560-4af8-949c-1dfc907a0afb.png">

<img width="1440" alt="Screenshot 2022-11-06 at 2 13 33 PM" src="https://user-images.githubusercontent.com/18116236/200161882-951ebd36-d

[2022-11-07 20:33] stnguyen90 commented on #106
@Faiyyaz,

This error indicates the user does not have rights (they are not in the team with ID `owner`).

As stated before, you cannot put `Permission.create()` on a document.

[2022-11-08 00:12] Faiyyaz commented on #106
I added the user in the team owner too but still facing the same issue.

Also i think we should have create permission on document because suppose in case of ecommerce app only admin users should be able to create document for product, category, etc

[2022-11-08 00:17] stnguyen90 commented on #106
Would you execute [`teams.list()`](https://appwrite.io/docs/client/teams?sdk=flutter-default#teamsList) before `databases.createDocument()` and share the output?

It doesn't make sense to add a create permission on a **Document** because the document would already be created. You only add the create permission on the collection and that controls who can create documents in that collection.

[2022-11-08 00:40] stnguyen90 commented on #106
Please also share the `owner` Team as JSON (You can get the JSON by opening the team in the Appwrite Console and clicking "View as JSON" under the Team ID.

[2022-11-08 12:38] Faiyyaz commented on #106
Hey, please find requested data

[teams.list()](https://appwrite.io/docs/client/teams?sdk=flutter-default#teamsList) output

<img width="1440" alt="code" src="https://user-images.githubusercontent.com/18116236/200565495-b6622340-81ff-4ea8-ac1c-bc82440bdb5e.png">

owner Team as JSON

<img width="1440" alt="teams" src="https://user-images.githubusercontent.com/18116236/200565668-830791e0-69cf-4c1c-b

[2022-11-08 15:27] stnguyen90 commented on #106
Would you please try to put `team:<ID>` rather than `team:<NAME>`?

[2022-11-08 17:43] jonscoresby commented on #33
I'm new to Appwrite so hopefully this isn't out of place. I am using the latest versions of Appwrite server and SDK and I am getting this error. I have a realtime subscription to the account channel. The account channel returns a User object instead of an Account object. Not sure exactly why that is. Anyway, I try to pass the response to the Account.fromMap() constructor and I get the error given

[2022-11-08 19:06] stnguyen90 commented on #33
@jonscoresby it might be best to either create a new issue or join us on [Discord](https://appwrite.io/discord). If you want to create an issue, please make sure to include you code, full error, and the response from Appwrite. 🙏🏼

[2022-11-09 15:06] stnguyen90 commented on #106
@Faiyyaz, yep! You'll need to specify the ID when creating the team or collection.

[2022-11-09 15:06] #106 closed

[2022-11-09 16:12] Faiyyaz commented on #106
Okay thanks @stnguyen90 for great support & appwrite team for such a good package

[2022-11-09 18:06] Faiyyaz commented on #106
Hey we can't set custom id from appwrite console. Is it correct

[2022-11-09 18:08] stnguyen90 commented on #106
@Faiyyaz, yes you can. Click on the edit button to the right of the text input.

[2022-11-09 18:14] Faiyyaz commented on #106
@stnguyen90 oh okay thank you... will try that

[2022-11-09 20:34] Mabenan commented on #96
I have done some research and found the following https://pub.dev/packages/desktop_webview_window maybe the sdk or even flutter_web_auth could utilize it and react on the url changed callback.

[2022-11-11 13:37] Mabenan commented on #96
@stnguyen90 One basic understanding question how is decide if the success redirection is the appwrite-callback-[PROJECT_ID] scheme?

[2022-11-12 00:09] stnguyen90 commented on #96
The [default success](https://github.com/appwrite/appwrite/blob/master/app/controllers/api/account.php#L44) sends users to [/v1/auth/oauth2/success](https://github.com/appwrite/appwrite/blob/master/app/views/home/auth/oauth2.phtml) which has this code:

https://github.com/appwrite/appwrite/blob/02a432102df047d2ea96faed65d77a862239d487/app/views/home/auth/oauth2.phtml#L16

[2022-11-12 04:22] Mabenan commented on #96
I think a solutuon with the current flutter_web_auth2 would be to change the callback scheme to localhost and free port amd then set the success url to localhost:port/v1/oauth/success as only the path is checked this should give us the key and secret

[2022-11-14 10:19] Mabenan commented on #96
OK I confirmed that this workaround works. I would really favour to do this as a solution for the moment because a solution based on the callback scheme will definitely take more time to implement in flutter_web_auth_2

[2022-11-14 16:03] stnguyen90 commented on #96
@Mabenan wow! this is awesome! Thanks so much for testing this!

[2022-11-14 19:39] Mabenan commented on #96
I will try to make a PR for this

[2022-11-14 20:29] stnguyen90 commented on #96
@Mabenan, PR for what? 🧐

[2022-11-14 20:32] Mabenan commented on #96
For changing the value we give flutter_web_auth_2 as callbackUri under windows.

So that we don't run into an exception. See the origin of this issue.

[2022-11-14 20:36] stnguyen90 commented on #96
@Mabenan oh, you want to change the appwrite SDK code because the current code actually doesn't work yet? If so, please make sure to submit the PR in the [sdk-generator](https://github.com/appwrite/sdk-generator) repo.

[2022-11-14 20:37] Mabenan commented on #96
Yes this was exactly my plan 😉

[2022-11-14 21:02] stnguyen90 commented on #96
@Mabenan, sounds good! I'll also discuss with the team to make sure we're okay with this approach.

[2022-11-16 07:15] kekavc24 commented on #103
I can confirm it was fixed in flutter windows too. I had opened #59 as duplicate. @stnguyen90. So I assume @anandsubbu007 's was fixed too

[2022-11-16 20:25] #103 closed

[2022-11-25 05:50] lohanidamodar commented on #81
@DobreRadu can you test from this branch?
https://github.com/appwrite/sdk-for-flutter/tree/fix-flutter-web-chunked-upload

[2022-11-25 15:42] DobreRadu commented on #81
You mean updating to appwrite 8.1.0?

[2022-11-27 05:27] lohanidamodar commented on #81
@DobreRadu I mean using it from `fix-flutter-web-chunked-upload` branch on of the SDK